/* Global config */
@import "config/colors"; // Your custom color scheme
@import "config/mixins"; // Your custom mixins
@import "config/settings"; // Default foundation settings file. Uncomment each setting you need to change
@import "config/defaults"; // Default styles file. Global styles.
@import "config/fonts"; // Your custom fonts

/* Foundation 5 */
@import "foundation"; // Foundation 5 by Zurb

/* Plugins */
@import "plugins/nivo-lightbox"; // Nivo Lightbox
@import "plugins/nivo-default"; // Nivo Lightbox
@import "plugins/slick"; // Slick Slider

/* Site structure */
@import "site/structure"; // Your site structure
@import "site/top-menu"; // top standard menu
@import "site/main-menu"; // main standard menu
@import "site/mobile-menu"; // main mobile menu
@import "site/side-menu"; // side standard menu
@import "site/forms"; // form fields
@import "site/header"; // header styles
@import "site/home"; // widget styles
@import "site/buttons"; // button styles
@import "site/footer"; // footer styles
@import "site/article"; // article styles
@import "site/share"; // share button styles
@import "site/feature"; // feature styles
@import "site/news"; // news styles
@import "site/widgets"; // widget styles


/* College Customizations */
@import "site/faculty";
@import "site/lists";

/* Print styles */
@import "config/print";


// Sort into separate .scss files


body.page-template-templatesfaculty-php .pager {
	width: 100%;
	float: left;
}
.article__content {
	ul,ol {
		margin-left: 4rem;	
	}
}

/* 
 * mobile menu
 */
  .left-off-canvas-menu #menu-main-menu {
  	padding: 1.5rem;
  }
 .left-off-canvas-menu #menu-main-menu li a {
	color: #fff;
}



.title-area h1 {
	margin-bottom: 0;
}
ul.units {
	font-size: 1.50rem;
	padding-left: 0;
	margin-bottom: 4rem;
	margin-left: 0;
	margin-top: .5rem;

	 li {
	 	@include serif;
		float: left;
		list-style: none;

	}
}

ul.blog-terms {
	float: left;
}
.blog-meta {
	display: block;
	p {
		float: left;
	}

}
.blog-list-item  {
	display: block;
	float: left;

	.post {
		float: left;
	}
}
aside#sidebar {
	padding-right: 0;
}
.blog-cats .button,
.fac-cats .button {
	margin-bottom: .75rem;
}
.panel {
	border: 0;
	padding: .5rem 1rem;
}
#sidebar article.widget ul {
	margin-top: rem-calc(15);
}
#sidebar article.widget_coenv_base_subnav.widget ul {
	margin-top: 0;
}
div.news {
	margin-bottom: 4rem;
}
.panel {
	float:left;
	width: 100%;
	p:first-child {
		float:left;
		width: 75%;
	}
	p:nth-child(2) {
		float: right;
		width: 25%;
		text-align: right;
	}
	.button {
	margin-bottom: 0;
	padding: .5rem;
	}
}
p span.intro {
	font-size: 1.4rem;
}
// Move to plugin?
html .mceContentBody {
	padding: 2rem !important;
}

#dataset-links {
	background-color: #f3f3f3;
	float: right;
	margin: 0 2rem;
	padding: 1rem;
	width: 20rem;

	a.button {
		margin-right: 1rem;
		color: #000;
		text-decoration: none;
	}
	h2 {
		font-size: 1.25rem;
		margin-top: 0;
	}

}
body.single-datasets .entry-content a {
	color: #4b2e83;
	text-decoration: underline;
}