# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On

# Added by request for UW-IT
RewriteRule ^(server-|PubCookie\.reply) - [L]

# Site redirects

RewriteCond %{HTTP_HOST} smea.washington.edu [NC]
RewriteRule ^(.*)$ http://smea.uw.edu/$1 [R=301,NC,L]

RewriteCond %{HTTP_HOST} fish.washington.edu [NC]
RewriteRule ^(.*)$ http://fish.uw.edu/$1 [R=301,NC,L]

# SSL on each domain

# RewriteCond %{HTTP_HOST} ^cms.coenv.uw\.edu [NC]
# RewriteCond %{SERVER_PORT} 80 
# RewriteRule ^(.*)$ https://cms.coenv.uw.edu/$1 [R,L]

# RewriteCond %{HTTP_HOST} ^dev.cig.uw\.edu [NC]
# RewriteCond %{SERVER_PORT} 80 
# RewriteRule ^(.*)$ https://dev.cig.uw.edu/$1 [R,L]

# RewriteCond %{HTTP_HOST} ^dev.envstudies.uw\.edu [NC]
# RewriteCond %{SERVER_PORT} 80 
# RewriteRule ^(.*)$ https://dev.envstudies.uw.edu/$1 [R,L]

RewriteCond %{HTTP_HOST} ^fish.uw\.edu [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://fish.uw.edu/$1 [R,L]

RewriteCond %{HTTP_HOST} ^smea.uw\.edu [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://smea.uw.edu/$1 [R,L]

RewriteCond %{HTTP_HOST} ^fish.uw\.edu [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://fish.uw.edu/$1 [R,L]

RewriteBase /
RewriteRule ^index\.php$ - [L]

# add a trailing slash to /wp-admin
RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) $2 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ $2 [L]
RewriteRule . index.php [L]



</IfModule>

# END WordPress

# weird caching of old bug at launch
# delete this soon
REDIRECT 301 /about/news" http://smea.uw.edu/about/news/
Redirect 301 /resources/faculty.php /faculty-research/

	
# SAFS Redirects
REDIRECT 301 /info/about_us.html /about/
REDIRECT 301 /graduates/ /students/about-graduate-program/
REDIRECT 301 /info/contact.html /about/contact-2/
REDIRECT 301 /classes/ /students/courses_student/
REDIRECT 301 /graduates/admissions.html /students/about-graduate-program/
REDIRECT 301 /students/about-graduate-program/admissions.html /students/about-graduate-program/

REDIRECT 301 /info/find_us.html /about/visitor-info/
REDIRECT 301 /resources/people.html /faculty-research/
REDIRECT 301 /programs.html /students/
REDIRECT 301 /news.html /news-events/
REDIRECT 301 /resources/faculty.php /faculty-research/
REDIRECT 301 /resources/forms.html /intranet/quicklinks/
REDIRECT 301 /computing/index.html /intranet/quicklinks/
REDIRECT 301 /undergraduates/index.php /students/about-undergraduate-program/
REDIRECT 301 /graduates/index.html /students/about-graduate-program/
REDIRECT 301 /undergraduates/program/course.php /students/courses_student/
REDIRECT 301 /research/ /faculty-research/research/
REDIRECT 301 /research/publications/ /faculty-research/research/
REDIRECT 301 /teaching.html /faculty-research/research/
REDIRECT 301 /endowments/ /alumni-community/endowments/
REDIRECT 301 /alumni/giving.html /alumni-community/giving/
REDIRECT 301 /alumni/index.html /alumni-community/
REDIRECT 301 /faculty-research/research/alaska/ /faculty-research/research/




