# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On

# SSL on each domain

RewriteCond %{HTTP_HOST} ^cms.coenv.uw\.edu [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://cms.coenv.uw.edu/$1 [R,L]

RewriteCond %{HTTP_HOST} ^dev.cig.uw\.edu [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://dev.cig.uw.edu/$1 [R,L]

RewriteCond %{HTTP_HOST} ^dev.envstudies.uw\.edu [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://dev.envstudies.uw.edu/$1 [R,L]

RewriteCond %{HTTP_HOST} ^dev.fish.uw\.edu [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://dev.fish.uw.edu/$1 [R,L]

RewriteCond %{HTTP_HOST} ^dev.smea.uw\.edu [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://dev.smea.uw.edu/$1 [R,L]
RewriteRule ^/faculty ^/faculty-research/faculty [R=301,NC,L]

RewriteBase /
RewriteRule ^index\.php$ - [L]

# add a trailing slash to /wp-admin
RewriteRule ^([_0-9a-zA-Z-]+/)?wp-admin$ $1wp-admin/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(wp-(content|admin|includes).*) $2 [L]
RewriteRule ^([_0-9a-zA-Z-]+/)?(.*\.php)$ $2 [L]
RewriteRule . index.php [L]
</IfModule>

# END WordPress