/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */

$white: #fff;
$W: #333;
$accent: #5f3e8d;
$accent-purple: $accent;
$accent-lt: lighten( $accent, 15% );
$accent-dk: darken( $accent, 15% );
$accent-blue: #1e325f;
$accent-red: #b82828;
$accent-red-hover: #8e1f1f;
$accent-teal: $accent;
$accent-teal-lt: lighten( $accent-teal, 45% );
$accent-hover: $accent-lt;
$dark-widget: #888;
$white-button: #ddd;

$text: #000;
$text-md: #444;
$text-lt: #666;
$text-very-lt: #eee;
$text-white: #bbb;

$border: #ddd;
$border-dk: #222;
$border-dk-accent: #3d3d3d;

$bg-dk: #363533;
$bk-menu: #6a6a6a;
$bg-light: #f4f4f4;
$bg-lighter: #fcfcfc;