/*	Fonts
		======================================================================== */

@font-face {
	font-family: encode-sans-normal;  
	src: url("../assets/fonts/EncodeSansNormal-400-Regular.ttf") format('truetype');  
	font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: encode-sans-black;  
    src: url("../assets/fonts/EncodeSansNormal-900-Black.ttf") format('truetype');  
    font-weight: normal;
    font-style: normal;  
}

@font-face {
	font-family: encode-sans-condensed;  
	src: url("../assets/fonts/EncodeSansCondensed-800-ExtraBold.ttf") format('truetype');  
	font-weight: normal;
    font-style: normal;  
}

@font-face {
	font-family: open-sans;  
	src: url("../assets/fonts/OpenSans-Regular.ttf") format('truetype');  
	font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: open-sans-bold;  
    src: url("../assets/fonts/OpenSans-Bold.ttf") format('truetype');  
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: open-sans-light;  
    src: url("../assets/fonts/OpenSans-Light.ttf") format('truetype');  
    font-weight: normal;
    font-style: normal;  
}

@font-face {
	font-family: uni-sans-light;  
	src: url("../assets/fonts/Fontfabric - UniSansLight.otf") format('truetype');  
	font-weight: normal;
    font-style: normal;  
}

@mixin o_sans() {
  font: {
    family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
@mixin o_sans_bold() {
  font: {
    family: "open-sans-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
@mixin o_sans_light() {
  font: {
    family: "open-sans-light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin encode() {
  font: {
    family: "encode-sans-normal", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin encode_black() {
  font: {
    family: "encode-sans-black", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin encode_cb() {
    font-family: "encode-sans-condensed", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-weight: 800!important;
    text-transform: uppercase;
    letter-spacing: .5px;
    -webkit-font-smoothing: antialiased;
}

@mixin uni() {
  font: {
    family: "uni-sans-light", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    -webkit-font-smoothing: antialiased;
  }
}

.intro {
    font-size: rem-calc(24)!important;
    margin: rem-calc(20) 0;
    @include o_sans_light;
    font-weight: 400;
    letter-spacing: .5px;
    -webkit-font-smoothing: antialiased;
}

h1 {
    @include encode_cb;
    font-size: rem-calc(26)!important;
    line-height: rem-calc(30);
    font-weight: 400;

    @media #{$medium-up} {
        font-size: rem-calc(36);
        line-height: 1.2;
    }

} // h1

h2 {
    

} // h2

h3 {
    @include encode_cb;
    font-size: rem-calc(20);
    line-height: 1.2;
    font-weight: 400;

    @media #{$medium-up} {
        font-size: rem-calc(28);
        line-height: 1.2;
    }

} // h3

h4 {
    @include encode_cb;
    font-size: rem-calc(18);
    line-height: 1.2;
    
    @media #{$medium-up} {
        font-size: rem-calc(24);
        line-height: 1.2;
    }
}

/*	Base font size
		======================================================================== */
$base-font-size: 16;

/*	Old Fonts
		======================================================================== */

@mixin sans() {
  font: {
    family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@mixin serif() {
  font: {
    family: Georgia, serif;
  }
}
