/*	Fonts
		======================================================================== */

@font-face {
	font-family: encode-sans-normal;  
	src: url("../assets/fonts/EncodeSansNormal-400-Regular.ttf") format('truetype');  
	font-weight: normal;
    font-style: normal;  
}

@font-face {
	font-family: encode-sans-condensed;  
	src: url("../assets/fonts/EncodeSansCondensed-800-ExtraBold.ttf") format('truetype');  
	font-weight: normal;
    font-style: normal;  
}

@font-face {
	font-family: open-sans-bold;  
	src: url("../assets/fonts/OpenSans-800.ttf") format('truetype');  
	font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'uni-sans-light';
    src: url('../assets/fonts/fontfabric_-_unisanslight-webfont.eot');
    src: url('../assets/fonts/fontfabric_-_unisanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/fontfabric_-_unisanslight-webfont.woff2') format('woff2'),
         url('../assets/fonts/fontfabric_-_unisanslight-webfont.woff') format('woff'),
         url('../assets/fonts/fontfabric_-_unisanslight-webfont.ttf') format('truetype'),
         url('../assets/fonts/fontfabric_-_unisanslight-webfont.svg#uni_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open-sans';
    src: url('../assets/fonts/opensans-regular-webfont.eot');
    src: url('../assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-regular-webfont.woff') format('woff'),
         url('../assets/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open-sans-bold';
    src: url('../assets/fonts/opensans-600-webfont.eot');
    src: url('../assets/fonts/opensans-600-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/opensans-600-webfont.woff2') format('woff2'),
         url('../assets/fonts/opensans-600-webfont.woff') format('woff'),
         url('../assets/fonts/opensans-600-webfont.ttf') format('truetype'),
         url('../assets/fonts/opensans-600-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'uni-sans-light-italic';
    src: url('../assets/fonts/fontfabric_-_unisanslightitalic-webfont.eot');
    src: url('../assets/fonts/fontfabric_-_unisanslightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/fontfabric_-_unisanslightitalic-webfont.woff2') format('woff2'),
         url('../assets/fonts/fontfabric_-_unisanslightitalic-webfont.woff') format('woff'),
         url('../assets/fonts/fontfabric_-_unisanslightitalic-webfont.ttf') format('truetype'),
         url('../assets/fonts/fontfabric_-_unisanslightitalic-webfont.svg#uni_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin o_sans() {
    font-family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin o_sans_bold() {
    font-family: "open-sans-bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
}

@mixin encode() {
    font-family: "encode-sans-normal", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    -webkit-font-smoothing: antialiased;
}

@mixin encode_cb() {
    letter-spacing: .5px;
    -webkit-font-smoothing: antialiased;
    font-family: "encode-sans-condensed", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-weight: 800!important;
    //text-transform: uppercase;
}

@mixin uni() {
    font-family: "uni-sans-light", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .5px;
}

@mixin uni_italic() {
    font-family: "uni-sans-light-italic", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    -webkit-font-smoothing: antialiased;
}

.intro {
    font-size: rem-calc(20)!important;
    line-height: normal;
    margin: rem-calc(20) 0;
    @include uni;
    font-weight: 400;
    letter-spacing: .5px;
    -webkit-font-smoothing: antialiased;
    
    @media #{$large-up} {
        font-size: rem-calc(36)!important;
    }
}

blockquote {
    margin: 0!important;
    padding: rem-calc(20) rem-calc(80)!important;
    border-left: 0px!important;
    border-top: 2px solid #f6f5f7;
    border-bottom: 2px solid #f6f5f7;
    
    p {
        margin: 0!important;
        @include encode_cb;
        text-transform: none;
        color: #000000!important;
        font-size: rem-calc(18);
    }
}

h1 {
    @include uni;
    font-size: rem-calc(26)!important;
    line-height: rem-calc(30);
    font-weight: 400;

    @media #{$medium-up} {
        font-size: rem-calc(36);
        line-height: rem-calc(48);
    }

} // h1

h2 {
    @include uni;
    font-size: rem-calc(24);
    line-height: rem-calc(24);
    font-weight: 400;

    @media #{$medium-up} {
        font-size: rem-calc(32);
        line-height: rem-calc(30);    
    }

} // h2

h3 {
    @include uni;
    font-size: rem-calc(20);
    line-height: rem-calc(24);
    font-weight: 400;

    @media #{$medium-up} {
        font-size: rem-calc(28);
        line-height: rem-calc(24);
    }

} // h3

.article__content {
    
    h2 {
        margin-top: 0.7rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    h4 {
        @include uni;
        font-weight: 600;
        font-size: rem-calc(14);
        line-height: rem-calc(12);

        @media #{$medium-up} {
            font-size: rem-calc(20);
            line-height: rem-calc(20);
        }
    }
    p strong {
        font-family: open-sans-bold;
        font-weight: 400!important;
    }
}

/*	Base font size
		======================================================================== */
$base-font-size: 16;

/*	Old Fonts
		======================================================================== */

@mixin sans() {
  font: {
    family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@mixin serif() {
  font: {
    family: Georgia, serif;
  }
}
