/* ==========================================================================
   Helpful mixins
   ========================================================================== */

/**
 * REM conversion
 */
$base-font-size: 14px !default;

/*
 * Use rems with px fallback
 */

@function ie8_unit_to_px( $val ) {
  @if $val == auto {
    @return $val;
  } @else {
    @if unitless( $val ) {
      @if $val == 0 { @return $val;
      } @else { @return $val * $base-font-size + px; }
    } @else { @return $val; }
  }
}

@function ie8_unit_to_rem( $val ) {
  @if $val == auto { @return $val; }
  @else {
    @if unitless($val) {
      @if $val == 0 { @return $val; }
      @else { @return $val + rem; }
    } @else { @return $val; }
  }
}

@mixin rem( $prop, $val... ) {
  $n: length($val);
  $i: 1;
  $px-list: ();
  $rem-list: ();

  @while $i <= $n {
    $px-list: append( $px-list, ie8_unit_to_px( nth( $val, $i ) ) );
    $rem-list: append( $rem-list, ie8_unit_to_rem( nth( $val, $i ) ) );
    $i: $i + 1;
  }

  #{$prop}: $px-list;
  #{$prop}: $rem-list;
}

/**
 * Font size and line height
 */
@mixin font-size( $val ) {
  font-size: $val + px;
  font-size: ( $val / ( $base-font-size / 1 ) ) + rem;
}

@mixin line-height( $val ) {
  line-height: $val + px;
  line-height: ( $val / ( $base-font-size / 1 ) ) + rem;
}

/*  Placeholders
    ======================================================================== */

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

@mixin angle-edge($pos-top:null, $angle-top:null, $pos-btm:null, $angle-btm:null){
  width: 100%;
  position: relative;
  background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
  &::before,
  &::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    transition: ease all .5s;
  }
 
  @if $pos-top{
    &::before{
      @if $pos-top == 'topleft'{
        top: 0;
        transform-origin: right top;
        transform: skewY($angle-top);
      }
      @if $pos-top == 'topright' {
        top: 0;
        transform-origin: left top;
        transform: skewY(-$angle-top);
      } 
    }
  }
 
  @if $pos-btm{
    &::after{
      @if $pos-btm == 'bottomleft' {
        bottom: 0;
        transform-origin: right bottom;
        transform: skewY(-$angle-btm);
 
      } 
 
      @if $pos-btm == 'bottomright' {
        bottom: 0;
        transform-origin: left bottom;
        transform: skewY($angle-btm);
      } 
    }
  }
}
