.logo {
	@include rem(padding, 1, 0, 1, 0);
}
.main-menu {
	.button {
		@include font-size(12);
		@include rem('padding', 1, .5, 1, .5);
		width: 100%;
		
	}
	
	.sub-title {
		text-align: center;
		display: block;
	} //sub-title
	
}; //main-menu

.tab-bar-section {
	.title {
		a {
			color: #fff;
		}
	}
}


//from coenv site

#top-nav {
	background: $bg-dk;
	font-size: 0;
	text-align: right;
	
	ul,
	form {
		display: inline-block;
		@include rem('margin', 0, 0, 0, 0.3);
		@include rem('padding', 0.25, 0, 0.3);
		font-size: 0;
		vertical-align: top;
		
		input {
			margin-bottom: 0px;
			border: 0;
			border-radius: $radius;
		}
	}

	li,
	input,
	button {
		display: inline-block;
		padding: 0;
		@include font-size(10);
		@include rem('line-height', 1.8);
		@include rem('height', 1.8);
	}

	input[type="text"] {
		@include font-size(12);
		background: #666;
				color: #fff;
				@include placeholder {
					color: #eee;
				}
	} // input[type="text"]

	button[type="submit"] {
		background: #666;

		i {
			@include font-size(16);
			color: #eee;
		}

		&:hover i {
			color: #fff;
		}

	} // button[type="submit"]

	a,
	input,
	button {
		@include rem('padding', 0, 0.5);
	}

	a {
		display: block;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: 600;
		text-decoration: none;
		color: #ddd;
		border-radius: $radius;

		&:hover {
			background: #666;
			color: #fff !important;
		}

	} // a

	#menu-university {
		float: left;

	} // #menu-university

} // #top-nav


// SAFS customizations, please integrate

#top-nav a.first {
  	padding-left: 0;
}
#top-nav li.give.menu-item a {
  	background: #666;
  	color: #fff;
}
.college,
.university {
	display: inline-block;
	font-size: 1.25rem;
	line-height: 1.25rem;
	margin-top: .25rem;
}
.college {
	border-right: solid 1px #000;
	margin-right: .5rem;
	padding-right: .5rem;
}
.unit-heading {
  	padding: 0.9375rem;
 }
.unit-heading a {
  	color: #222; //use sass mixin?
  	text-decoration: none;
}
.top-bar-section ul li > a {
	font-size: 1rem;
	text-decoration: none;
}
.top-bar-section .dropdown li a {
	font-weight: normal;
	padding: 0 5rem 0 .5rem !important;
}
