/*	Module: button
		======================================================================== */

.button {
	display: inline-block;
	vertical-align: middle;
	padding: rem-calc(5) rem-calc(14);
	@include font-size(14);
	font-weight: 600;
	background: $text-very-lt;
    border: 2px solid $border-lt;
    color: black;
    @include o_sans_bold;
    text-transform: uppercase;
	text-decoration: none;
	//@include border-radius( $radius );
	//min-height: rem-calc(28);
	
	&:hover {
		background: rgba(0,0,0,0.6);
		color: #fff !important;
	}
    
    &.white {
		background: transparent;
        border: 2px solid $white;
        color: $white;
		
		&:hover {
			background: $accent;
			color: $text;
		}
	}
    
    .widget & {
            &:hover {
            background: rgba(0,0,0,0.6);
            color: #fff !important;
        }
    }


} // .button
