.button {
	background: $accent;
	border-radius: 4px;
	color: $white !important;
	display: inline-block;
	@include encode_black;
	@include font-size(12);
	font-weight: 400;
	letter-spacing: rem-calc(1);
	margin-right: rem-calc(5);
	padding: rem-calc(8) rem-calc(10);
	text-align: left;
	text-decoration: none !important;
	text-transform: uppercase;
	vertical-align: middle;
    box-shadow: 0 2px #d9d9d9;

	&:hover {
		background: darken($accent, 20%);
		color: #fff !important;
        box-shadow: 0 2px #c5c5c5;
	}

	.dark {
		background: $bg-dk;
		color: $white;

		&:hover {
			background: $white-button;
			color: $text;
		}
	}

} // .button
