.course_archive {
    @include uni_reg;
    margin-bottom: 1rem;
    border-bottom: 1px solid $black;
    display: inline-block;
    position: relative;
    width: 100%;
    h4 {
        margin-bottom: 2rem;
    }
    &:after {
        position: absolute;
        content: url('../assets/img/pcc_section_div_flat.svg') !important;
        background: none !important;
        top: 85%;
        width: 7rem !important;
        left: -1px;
        z-index: 100;
        @media #{$small-only} {
            top: 30%;
        }
    }
}

.page-template-courses {
    .filters {
        padding-top: 1rem;
        .button {
            background-color: #f2f2f2;
            border-bottom: 2px solid $border;
            color: $black;
            margin-right: 1rem;
            &:before {
                background-color: #cccccc;
            }
            &:hover {
                color: $black !important;
            }
        }
        .active {
            background-color: $uw-purple;
            color: $white;
            &:before {
                background-color: $accent;
            }
        }
    }
    .courses {
        @include uni_reg;
        margin: 1rem 0 3rem 0;
        border-bottom: 1px solid $border;
        li {
            position: relative;
            border-top: 1px solid $border;
            padding-top: 1.5rem;
            list-style: none;
            &:before {
                position: absolute;
                content: url('../assets/img/pcc_section_div_flat_grey.svg');
                width: 8rem;
                top: -3px;
                left: -3px;
            }
            .acro-quarter, .course_meta {
                @include encode_med;
                font-size: rem-calc(16);
            }
            .course_meta, .acro-quarter {
                p {
                    display: inline;
                    &:not(:first-child) {
                        margin-left: 0.5rem;
                    }
                    margin-right: 0.5rem;
                }
                margin-bottom: 1rem;
            }
        }
    }
}

.course {
    .course_title {
        padding-bottom: 0.5rem;
    }

    .course-description {
        padding-top: 0.5rem;
        p, ul, ol {
            font-size: rem-calc(16);
        }
    }

    h2.course_head {
        border-bottom: 1px solid $black;
        margin-bottom: 0;
        padding-bottom: 0.5rem;
    }

    .course_details {

        .course_meta {
            background-color: $bg-light;
            @include encode;
            margin-left: 0rem;
            padding: 0.5rem;
            padding-top: 0.75rem;
            list-style-type: none;
            font-size: rem-calc(16);
            li {
                display: table;
                margin-bottom: 0.5rem;
                clear: both;
                overflow: hidden;
                .meta_label {
                    display: inline-block;
                    margin-right: 1rem;
                    margin-left: 1rem;
                    width: 8.5rem;
                    @media #{$small-only} {
                        margin-left: 0.5rem;
                        margin-right: 0.5rem;
                    }
                    height: 100%;
                    float: left;
                    text-align: right;
                    @include encode_med;
                }
                .meta_info {
                    display: inline-block;
                    height: 100%;
                    float: left;
                    text-align: left;
                }
            }
        }
    }
}
