.page-template-courses {
    .filters {
        padding-top: 1rem;
    }
    .courses {
        li {
            list-style: none;
        }
    }

    .panel {
        background-color: $white;
        color: $uw-purple;
    }
}
