.page-template-datasets div[role="main"] {

	.dataset-list-item {

		.terms {
			border-right: 0;
			margin-bottom: rem-calc(10);
			width: 100%;
		}

	}

}



body.single-datasets .entry-content {
a.button {
				color: #fff !important;
				text-decoration: none !important;
			}

	.entry-content {
		
		h1.article__title {
		background-image: none;
		font-size: rem-calc(26);
		margin-bottom: 0;

			

		}


	}


}
#dataset-links {
	background-color: #f3f3f3;
	float: right;
	margin: 0 2rem;
	padding: 1rem;
	width: 20rem;

	a.button {
		margin-right: 1rem;
		color: #000;
		text-decoration: none;
	}
	h2 {
		font-size: 1.25rem;
		margin-top: 0;
	}

}

body.single.single-datasets {
	
	.post-meta {
		margin-bottom: rem-calc(20);
	}



}



 body.single.single-datasets,
 body.single.single-publications {

div[role="main"] h2.article__title {
	margin-bottom: rem-calc(0)!important;
}

 .post-meta {
    margin-bottom: rem-calc(40);
    margin-left: 0;
    width: 100%;

    .terms {
    	margin-left: 0;
    }





}


        }