.page-template-datasets div[role="main"] {

	.dataset-list-item {
		margin-bottom: rem-calc(15);

		.terms {
			border-right: 0;
			margin-bottom: rem-calc(10);
			width: 100%;
		}

	}

}



body.single-datasets .entry-content {
a.button {
				color: #fff !important;
				text-decoration: none !important;
			}

	.entry-content {
		
		h1.article__title {
		background-image: none;
		font-size: rem-calc(26);
		margin-bottom: 0;

			

		}


	}


}
#dataset-links {
	background-color: #f3f3f3;
	float: right;
	margin: 0 2rem;
	padding: 1rem;
	width: 20rem;

	a.button {
		margin-right: 1rem;
		color: #000;
		text-decoration: none;
	}
	h2 {
		font-size: 1.25rem;
		margin-top: 0;
	}

}