.page-template-faculty {
    li.faculty-list-item {
        background-color: $text-very-lt;
        min-height: 160px;
        padding: 0;
        overflow: hidden;
        &:nth-child(odd) {
            border-right: 1rem solid white;
        }
        &:nth-child(even) {
            border-left: 1rem solid white;
        }
        @media #{$small-only} {
            padding-bottom: .5rem;
        }
        .image-float {
            text-align: center;
            @media #{$large-up} {
                height: 100%;
                float: left;
                max-width: 40%;
                max-width: 160px;
                margin-right: 1rem;
            }
        }
        img {
            z-index: 2;
            position: relative;
            @media #{$large-up} {
                float: left;
            }
            @media #{$large-only} {
                max-width: 120px;
            }
        }
        .faculty-name {
            line-height: 3.5rem;
            padding-top: 0;
            margin-top: 0;
            position: relative;
            z-index: 1;
            background-color: $accent-teal;
            padding-left: .5rem;
            font-size: 1.3rem;
            @media #{$small-only} {
                font-size: 1.1rem;
                font-weight: 800;
            }
            &:after {
                content: '';
                position: absolute;
                display: block;
                background-color: $accent-teal-lt;
                @extend .uw-unskew;
                height: 3.5rem;
                top: 0;
                width: 100%;
                right: 3rem;
                z-index: -1;
            }
            &:before {
                content: '»';
                position: absolute;
                display: block;
                z-index: 5;
                right: 1rem;
                font-size: 2rem;
                color: lighten($accent-teal-lt, 15%);
            }
            &:hover {
                &:after {
                    background-color: lighten($accent-teal-lt, 5%);
                }
            }
        }
        h4 {
            font-size: 1rem!important;
        }
        h4, p, .phone, .email {
            padding-left: .5rem;
            @media #{$large-up} {
                padding-left: 0;
            }
        }
    }
}

.faculty {
    .faculty_contact_fields {
        svg {
            position: relative;
            width: 16px;
            height: 16px;
            top: 2px;
            margin-right: 3px;
        }
    }
    .faculty-name {

    }
}

.faculty-info {
	@include o_sans_bold;
    background-color: $text-very-lt;
    border-left: 6px solid #82cfcc;
    margin: 0 0 1rem 0;
    padding: 0;
    list-style: none;
    .faculty_contact_fields {
        padding: 0;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            display: block;
            line-height: 1.2;
            list-style: none;
            margin: 0;
            padding: 0;
            border-top: 1px solid #ddd;

            a {
                @include uni;
                display: inline-block;
                font-size: 1rem;
                padding: 16px 16px 14px 12px;
                line-height: 30px;
                width: 100%;

                &:hover {
                    svg {
                        fill: green!important;
                    }
                    color: green!important;
                }
                &:not(.button) {
                    color: #000;
                }
            }
        }
    }
}