.faculty-thumb {
    max-height: 120px;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.single-faculty {
    @media #{$medium-up} {
        .entry-content {
            margin-top: 2rem;
        }
        #sidebar {
            margin-top: 0;
        }
    }
}

.faculty-info {
    background: $bg-light;
    margin-bottom: rem-calc(20px);
    padding-bottom: rem-calc(10px);
    padding-left: 0;
    padding-right: 0;
    z-index: 2;
    position: relative;
    word-break:     break-word;
    -webkit-hyphens: auto;
    -moz-hyphens:    auto;
    hyphens:         auto;
    @media #{$small-only} {
        margin-left: -1.2rem;
        margin-right: -1.2rem;
    }
    @media #{$medium-up} {
        max-width: 50%;
        border-left: 1rem solid white;
        margin-left: 1rem;
    }
    @media #{$large-up} {
        max-width: rem-calc(240px);
    }
    p {
        margin: 0;
        padding: rem-calc(10px);
    }
    
    .faculty_contact_fields {
        border-top: 4px solid $accent-blue;
    }

    ul {
        margin: 0;
        padding: 1rem;

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            list-style: none;
            margin-left: 0;
            padding-left: 0;

            &.job-titles {
                margin-bottom: 1rem;
            }

            &.cv a {
            }
        }

    } // end ul

    .faculty-name {

    }

    .faculty-website {
        padding-bottom: 0;
    }

}

article.type-faculty {


	.faculty-advising {
		border-top: 1px solid #DDDDDD;
		float: left;
		@include rem('margin-top',1);
		@include rem('padding-top',1);
	}

	.faculty-pubs ul {
	    margin-left: rem-calc(30px);
		
		li {
			float: left;
			line-height: 1.6;
    		margin-bottom: rem-calc(10px);
		}

	} // end .faculty-pubs ul

} // end article.type-faculty

.faculty-list-teach h2:first-child {
	margin-top: 0;
}

.faculty-list-teach {
    width: 105%;
    margin: 0!important;
    
    .panel {
        padding: 1.2rem 1rem;
        height: 4rem;
        border-left: 0;
        border-right: 0;
        
        a {
            @extend .button;
            margin-top: -.5rem;
        }
        
        @media #{$small-only} {
            height: 7rem;
            .right {
                float: left!important;
                margin-top: 1.2rem;
            }
        }
    }
        
}

.faculty-list-item {
	float: left;
	margin-bottom: rem-calc(18px);
	margin-right: rem-calc(18px);
	width: rem-calc(120px);
	height: 13.5rem;
    background-color: $accent-blue-dk;
    
    @media #{$small-only} {
        width: rem-calc(102);
        height: 12.5rem;
    }
    
	h3 {
		font-size: 1rem!important;
		line-height: 1.25rem!important;
        font-family: 'open-sans'!important;
        margin: 0;
        padding: .6rem .7rem;
        color: white;
	}

}

#sidebar .widget {
	line-height: 1.6;
	margin-bottom: 1rem;
}
.article__categories {
	margin-bottom: 1rem;
}
.article__categories h2 {
	font-size: 1rem!important;
	line-height: 1;
	padding: 0;
	margin: 0;
}

#sidebar {
    .fac-cats {
        padding-top: 1rem;
        .button {
            margin-bottom: 1rem;
        }
    }
}

ul.fac-cats,
ul.fac-terms {

	padding: 0;
	margin-left:0;

	li {
		display: inline;
		margin: 0 .5rem .5rem 0;
		padding: 0;
        .button {
            @extend .fac-button;
        }

	}
}

.fac-button {
    margin-bottom: 0;
    background: $bg-light!important;
    color: $text;
}

#post-3082 {
    .button {
        @extend .fac-button;
        margin-top: .5rem;
        a {
            color: $text!important;
        }
    }
}

.faculty-website a.button {
	margin: 1rem 0 0 0;
	width: 100%;
}
#coenv_base_fac_cats-2 ul li {
	margin-right: .5rem;
}



