.faculty-thumb {
    max-height: 120px;
    overflow: hidden;
    img {
        width: 100%;
    }
}

article.type-faculty {

	.faculty-info {
		background-color: #f4f4f4;
		border: 1px solid #ddd;
		margin-bottom: rem-calc(20px);
		margin-left: rem-calc(20px);
		padding-bottom: rem-calc(10px);
		width: rem-calc(240px);

		p {
			margin: 0;
			padding: rem-calc(10px);
		}

		ul {
			margin: 0;
			padding-right: rem-calc(10px);
			padding-bottom: rem-calc(10px);
			padding-left: rem-calc(10px);

			ul {
				margin: 0;
				padding: 0;
			}

			li {
				list-style: none;
				margin-left: 0;
				padding-left: 0;

				&.job-titles {
					margin-bottom: 1rem;
				}

				&.cv a {
				}
			}

		} // end ul

		.faculty-name {
            
		}

		.faculty-website {
			padding-bottom: 0;
		}

	}

	.faculty-advising {
		border-top: 1px solid #DDDDDD;
		float: left;
		@include rem('margin-top',1);
		@include rem('padding-top',1);
	}

	.faculty-pubs ul {
	    margin-left: rem-calc(30px);
		
		li {
			float: left;
			line-height: 1.6;
    		margin-bottom: rem-calc(10px);
		}

	} // end .faculty-pubs ul

} // end article.type-faculty

.faculty-list-teach h2:first-child {
	margin-top: 0;
}

.faculty-list-teach {
    width: 105%;
}

.faculty-list-teach .faculty-list-item {
	float: left;
	margin-bottom: rem-calc(18px);
	margin-right: rem-calc(18px);
	width: rem-calc(120px);
	height: 13.5rem;
    background-color: $accent-blue-dk;
    
	h3 {
		font-size: 1rem!important;
		line-height: 1.25rem!important;
		margin-top: .5rem;
        font-family: 'open-sans'!important;
        margin: 0;
        padding: .7rem .7rem;
        a {
            color: white;
        }
	}

}

.faculty-list-research .faculty-list,
.faculty-list-adjunct .faculty-list,
.faculty-list-emeritus .faculty-list {
	display:table;
	width: 100%;
}
.faculty-list-research .faculty-list .faculty-list-item,
.faculty-list-adjunct .faculty-list .faculty-list-item,
.faculty-list-emeritus .faculty-list .faculty-list-item {
	display:table-row;

	.faculty-name h3 {
		font-weight: normal;
		font-size: 1rem;
		@include sans;
	}

	&.even {
		background-color: #ddd;
	}
}
.faculty-list-research .faculty-list .faculty-list-item div,
.faculty-list-adjunct .faculty-list .faculty-list-item div,
.faculty-list-emeritus .faculty-list .faculty-list-item div {
	display:table-cell;
    width:25%;
}
.faculty-list-emeritus {
	margin-bottom: rem-calc(153px);
}
.page-id-80 h2 {
	@include font-size(24);	
}

#sidebar .widget {
	line-height: 1.6;
	margin-bottom: 1rem;
}
.article__categories {
	margin-bottom: 1rem;
}
.article__categories h2 {
	@include rem('font-size', 1);
	line-height: 1;
	@include sans;
	padding: 0;
	margin: 0 0 .5rem 0;
}

ul.fac-cats,
ul.fac-terms {

	padding: 0;
	margin-left:0;

	li {
		display: inline;
		margin: 0 .5rem .5rem 0;
		padding: 0;

	}
}

.faculty-website a.button {
	@include rem('font-size', 1);
	margin: 1rem 0 0 0;
	width: 100%;
}
#coenv_base_fac_cats-2 ul li {
	margin-right: .5rem;
}



