.feature-row {
    max-width: none;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video {
    display: none!important;
}
.no-video .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: table;
    background: #000;
    .poster img {
        @media #{$small-only} {
            max-width: none;
            top: -50%;
            position: absolute;
            width: 225%;
            left: -100%;
        }
    }
    .filter {
        z-index: 100;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
    }
    #hero-video {
        position: relative;
        z-index: 0;
        bottom: 0;
        opacity: .9;
        transition: 1s opacity;
        object-fit: cover;
        &.fullfade {
            opacity: 0;
        }
        &.fade {
            opacity: .7;
        }
        @media #{$medium-up} {
            position: absolute;
        }
        @media #{$xlarge-up} {
                margin-top: -12vw;
        }
    }
    video.fillWidth {
        width: 100%;
        @media #{$small-only} {
            width: 135%;
        }
    }
}

.feature {
    max-height: 42rem;
    overflow: hidden;
	
	ul li {
		list-style-type: none;
	}
	
	.feature-image {
        @media #{$small-only} {
            padding-top: 70%;
        }
	}
	
	.feature-info-container {
		
		.feature-info {
        padding: rem-calc(16);
        //padding-top: 20rem;
        width: 100%;
        @media #{$small-only} {
            position: relative;
            top: 30vh;
        }
            
		}

        .feature-content {
            display: inline;
        }
    
        .feature-title {
            display: table;
            bottom: 1.5rem;
            max-width: 80%;
            @include uni();
            font-size: 2.5rem;
            line-height: 3rem;
            font-weight: 400;
            @media #{$medium-up} {
                font-size: 3.5rem;
                line-height: 4rem;
            }
            @media #{$large-up} {
                font-size: 4.5rem;
                line-height: 5rem;
            }
            .oldie & {
                background-color: white;
                border: 1px solid white;
            }
        }
        
        .feature-white {
            display: inline;
            position: relative;
            background-color: #FFf;
            box-shadow: .5em 0 0 #FFf, -1em 0 0 #FFf;
            box-decoration-break: clone;
            z-index: 2;
            &:before {
                content: '';
                display: block;
                position: absolute;
                height: calc(200% + -.5rem);
                width: 1200px;
                right: 0;
                background-color:
                #fff;
                z-index: -1;
                top: 0px;
             }
        }
    
		h2 {
            position: relative;
            z-index: 3;
            color: $text;
            font-weight: 800;
        }
		
		
		.button {
        position: relative;
        display: inline-block;
        z-index: 1;
        margin-top: -1.6rem;
        font-size: 1rem;
        @include o_sans_bold();
        font-weight: 500;
        width: auto;
        @media #{$small-only} {
            padding-left: 2rem;
            width: 10rem;
        }
        @media #{$xlarge-up} {
            margin-top: -1.8rem;
        }
        &:after {
            content: ' →';
        }
        .oldie & {
            bottom: -2.2rem!important;
        }
		}
		
		.feature-image-caption {
			font-size: rem-calc(10);
			margin-right: rem-calc(16);
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
		}
		
		p {
			margin-bottom: 1rem;
		}
		
	}
}
.slick-prev:before, .slick-next:before {
	color: #000;	
	font-size: rem-calc(60);

}
.slick-prev, .slick-next {
		top: 40%;
}
.slick-prev {
	height: 60px;
	left: 2%;
	width: 60px;
}
.slick-next {
	height: 60px;
	right: 2%;
	width: 60px;
}
.playpause {
position: absolute;
top: 0;
left: 0;
	z-index: 500;
}
