.feature {
    color: $white;

    ul li {
        list-style-type: none;
    }

    .feature-image {
        width: 100%;
        padding-top: 30%;
        max-height: rem-calc(350);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .feature-info-container {

        .feature-info {
            background-color: $accent;
            padding: rem-calc(16);
            width: 100%;

            @media #{$small-only} {

                h2 {
                    font-size: rem-calc(14);
                }
                p.feature-excerpt {
                    font-size: rem-calc(12);
                }


             }
        }

        h2 {

            color: $white;
            font-size: rem-calc(32);
            margin: 0;
        }


        .button {
            margin: 0 rem-calc(5) 0 0;
        }

        .feature-image-caption {
            font-size: rem-calc(10);
            margin-right: rem-calc(16);
        }

        p {
            margin-bottom: rem-calc(10);
        }

    }
}
