.feature {
	color: $white;
	
	ul li {
		list-style-type: none;
	}
	
	.feature-image {
		width: 100%;
		padding-top: 40%;
		max-height: rem-calc(350);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: relative;
	}
	
	.feature-info-container {
		
		.feature-info {
			background-color: $accent;
			padding: rem-calc(16);
			position: absolute;
			right: 0;
			bottom: 0;
			width: 50%;

			@media #{$small-only} {
				width: 50%;

				h2 {
					font-size: rem-calc(14);
				}
				p.feature-excerpt {
					font-size: rem-calc(12);
				}


			 }
		}
		
		h2 {
			
			color: $white;
			font-size: rem-calc(32);
			margin: 0;
		}
		
		
		.button {
			margin: 0 rem-calc(5) 0 0;
		}
		
		.feature-image-caption {
			font-size: rem-calc(10);
			margin-right: rem-calc(16);
		}
		
		p {
			margin-bottom: rem-calc(10);
		}
		
	}
}
.slick-prev:before, .slick-next:before {
	color: #000;	
	font-size: rem-calc(60);

}
.slick-prev, .slick-next {
		top: 40%;
}
.slick-prev {
	height: 60px;
	left: 2%;
	width: 60px;
}
.slick-next {
	height: 60px;
	right: 2%;
	width: 60px;
}
.playpause {
position: absolute;
top: 0;
left: 0;
	z-index: 500;
}