/*	Footer
		======================================================================== */
.footer-row {
    max-width: none;
}

.site-footer {
	@extend .clearfix;
	padding-top: rem-calc(25);
	background: $bg-dk;

	a:hover {
		color: #fff !important;
	}
	
	ul, ol, dl {
			font-size: rem-calc(12)!important;
	}
    
    .smea-logo {
        margin: 0 rem-calc(20) rem-calc(20) 0;
        border: #666 3px solid;
        
        svg {
            width: rem-calc(115);
            margin-bottom: rem-calc(-5);
            @media #{$small-only} {
                width: rem-calc(60);
            }

        } 
    }

	.site-footer__header {
		margin-bottom: rem-calc(16);

		@media print {
			display: none;
		}

		h2 {
			position: relative;
			z-index: 0;
			margin: 0;
			color: $white;
			font-size: rem-calc(20);
			line-height: rem-calc(20);
			@include encode_cb;
            @media #{$small-only} {
                font-size: rem-calc(14);
            }

		} // h2

	} // .site-footer__header

	.unit-contact {
		margin-bottom: rem-calc(28);
        
		p {
			color: $text-white;
			margin-bottom: 0;
            
			a { 
                color: $text-white;
			}
		}

	}
	form.search-form,
	form.search-form .field-wrap {
		width: 80%;
	}
	.footer-nav {
		display: none;
		
		@media #{$medium-up} {
			display: block;
			float: right;
			padding-left: rem-calc(28);
		}

		@media print {
			display: none;
		}

		.footer-nav__title {
			display: none;
		}

		.menu-footer-units {
			margin: 0;
			padding: 0;
			list-style: none;
			column-count: 2;
			-webkit-column-count: 2;
			-moz-column-count: 2;

			li {
                line-height: rem-calc(28);
                border-bottom: #292827 1px solid;
                border-top: #43423f 1px solid;
                &:nth-child(7) {
                    border-bottom: none;
                }
                &:nth-child(13) {
                    border-bottom: none;
                }
                &:nth-child(1) {
                    border-top: none;
                }
                &:nth-child(8) {
                    border-top: none;
                }
                &:nth-child(10) {
                    padding-bottom: rem-calc(2);
                }
			}

			a {
				display: inline-block;
				text-decoration: none;
				color: $text-white;
                font-weight: 400;
			}

			a:hover {
				color: #fff !important;
			}

		} // .menu-footer-units

	} // .footer-nav

	.footer__info {
		form {
			@media print {
				display: none;
			}

			input[type="text"] {
				font-size: rem-calc(12);
				background: #666;
				color: #fff;
				@include placeholder {
					color: $text-very-lt;
				}
			}

			button[type="submit"] {
				background: #666;

				i {
					@include font-size(16);
					color: $text-very-lt;
				}

				&:hover i {
					color: #fff;
				}

			} // button[type="submit"]

		} // form

		.social-buttons {
            
            i {
                font-size: rem-calc(32);
                color: $text-white;
                padding-right: rem-calc(10);
                &:hover {
                    color: $white;
                }
            }

		}

		.top-links {
			margin: 0;
			padding: 0;
			list-style: none;

			@media print {
				display: none;
			}

			a {
				text-decoration: none;
				color: $text-white;
			}

		} // .top-links

	} // .footer__info

    .footer-footer {
        background-color: #32302d;
        margin-top: rem-calc(15);
        padding-bottom: rem-calc(20);
        
        .uw-footer {
            clear: both;
            @extend .clearfix;
            padding-top: rem-calc(10);
            background: none;
            color: $text-white;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.1em;

            a {
                color: $text-white;
                text-decoration: none;
            }

            .copyright {
                font-size: rem-calc(10);
                margin-top: rem-calc(3);
                @media #{$medium-up} {
                    float: left;
                    display: inline-block;
                }

            } // .copyright

            .menu-footer-links {
                margin: 0;
                list-style: none;

                @media #{$medium-up} {
                    display: inline-block;
                    padding-left: rem-calc(15);
                }

                @media print {
                    display: none;
                }

                li {
                    display: inline-block;
                    font-size: rem-calc(10)!important;

                    @media #{$medium-up} {
                        margin-left: rem-calc(14)
                    }

                } // li

                a {
                    text-decoration: none;
                }

            } // .menu-footer-links

        } // .uw-footer

    }

} // .site-footer