.title-row {
    max-width: none;
    border-bottom: #d7dee5 1px solid;
}

.title-area {
    margin: 0;
    list-style: none;
}

.tab-bar {
    margin-bottom: 0;
    text-align: center;
    
    h1 {
        font-size: rem-calc(28)!important;
        margin: 0;
        @media #{$small-up} {
            font-size: rem-calc(14)!important;
            max-width: rem-calc(250);
            line-height: rem-calc(18);
        }
    }
}

.name {
    h1 {
        @include encode;
        font-weight: 500!important;
        font-size: rem-calc(18)!important;
        @media #{$large-up} {
            font-size: rem-calc(23)!important;
        }
        float: left;
        margin: rem-calc(20) 0;
        a {
            color: #000000;
        }
    }
    #logo {
        margin-right: rem-calc(10);
    }
}

.units {
    float: right;
    list-style: none;
    margin: rem-calc(30) rem-calc(18);
    
    .slash {
        margin: 0 rem-calc(12);
    }
    
    .uw-name {
        margin-right: rem-calc(16);
    }
}

#logo {
	span {
		@extend .visuallyhidden;
	}
}

.section-title {
	padding: 0 1rem;
	margin: 0;
	@include font-size(24);
    
    h2 {
        margin: rem-calc(10) 0;
    }
}

.entry-content {
    h1 {
		@include rem('line-height', 3); // 48
		margin: 0 0 rem-calc(10) 0;
		padding: 0;
        @include font-size(36);
	}
    
    h2 {
        margin: rem-calc(10) 0;
    }
}
.breadcrumbs {
	@include rem('margin-bottom',2);
}
.breadcrumbs>* {
	line-height: rem-calc(16);
}

.top-bar-container {
    margin-bottom: 0!important;
}