// mobile header

.tab-bar {
    margin-bottom: 0;
    text-align: center;
    background: $white;
    border-bottom: 1px solid $border;
    
    .tab-bar-section {
        padding-left: rem-calc(30);
        margin: auto;
    }

    
    h1 {
        color: $text!important;
        font-size: rem-calc(28)!important;
        float: center;
        max-width: rem-calc(250);
        margin: rem-calc(5) auto;
        font-size: rem-calc(14)!important;
        line-height: rem-calc(18);
    }

    .right-small, .left-small {
        border: none;
    }

    .mobile-logo {
        color: $accent;
        font-size: rem-calc(20);
        
        #logo {
            width: rem-calc(55);
            fill: $accent;
            margin-top: rem-calc(4);
            margin-left: rem-calc(10);
        }
    }
    
    .menu-icon span::after {
        box-shadow: 0 0px 0 1px #000,0 7px 0 1px #000,0 14px 0 1px #000;
    }

}

// desktop header

.white-header {
    background: $white;
}

.top-bar-container {
    border-top: #d7dee5 1px solid;
    margin-bottom: 0;
}

.title-area {
    margin: 0;
    list-style: none;
}

.name {
    h1 {
        @include encode;
        font-weight: 500!important;
        font-size: rem-calc(18)!important;
        margin-top: rem-calc(18);
        margin-bottom: 0;
        @media #{$large-up} {
            font-size: rem-calc(23)!important;
        }
        float: left;
        a {
            color: $text;
        }
    }
    #logo {
        fill: $accent;
        width: rem-calc(108);
        height: rem-calc(73);
        margin-right: rem-calc(10);
        vertical-align: middle;
        
        span {
            @extend .visuallyhidden;
        }
    }
}

.units {
    float: right;
    list-style: none;
    margin: rem-calc(30) 0 0 rem-calc(18);
    
    .slash {
        margin: 0 rem-calc(12);
    }
    
    .uw-name {
        margin-right: rem-calc(16);
    }
}

//header strip

.page-row {
    max-width: none;
    background-size: cover;
    background-position: 50%;
    color: $white;
    overflow: hidden;
    
    a {
        color: $white;
        
        i {
            font-size: rem-calc(30);
            margin: rem-calc(5);
            padding-top: 20px;
        }
    }
    
    &.mini {
        background-color: $accent;
        .teal-wedge {
            background-image: url(../assets/img/purple-wedge.svg);
            background-repeat: no-repeat;
            background-position: rem-calc(-400) 0;
            background-size: rem-calc(1400);
            min-height: rem-calc(130);
            overflow: hidden;
            .section-title {
                a {
                    bottom: rem-calc(-110);
                }
            }

            .sharing {
                margin-top: rem-calc(10);
                @media #{$medium-up} {
                    margin-top: rem-calc(65);
                }
            }
        }
    }
    
    .teal-wedge {
        background-image: url(../assets/img/teal-wedge.svg);
        background-repeat: no-repeat;
        background-position: rem-calc(-400) 0;
        background-size: rem-calc(1400);
        min-height: rem-calc(200);
    }
    .section-row {
        position: relative;
        bottom: 20px;
    }
    .section-title {
            
        a {
            position: absolute;
            bottom: rem-calc(-180);
            font-size: rem-calc(28);
            margin-left: rem-calc(15);
            @include encode_cb;
            
            @media #{$medium-up} {
                font-size: rem-calc(36);
                max-width: 28%;
            }
        
            span {
                font-size: rem-calc(14);
                line-height: rem-calc(5);
                display: none;
            }
            
            &:hover {
                color: $accent-teal;
                span {
                    display: block;
                }
            }
        }
    }
    
    .sharing {
        text-transform: uppercase;
        @include encode_cb;
        margin-right: rem-calc(20);
        
        @media #{$medium-up} {
            margin-top: rem-calc(135);
        }
        
        .share-text {
            margin-right: rem-calc(5);
        }
        
        a svg {
            width: rem-calc(30);
            fill: $white;
            margin-bottom: rem-calc(-9);
            &:hover {
                fill: $accent-teal;
            }
        }
    }
}