.home {

    h2 {
        @include uni;
        font-weight: bold;
        margin-bottom: 1rem;
        @media #{$large-only} {
            font-size: 3rem;
        }
    }

    .nav-bar-divider {
        &:before {
            position: absolute;
            content: url('../assets/img/pcc_section_div.svg');
            top: -1%;
            width: 6rem;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            @media #{$small-only} {
                top: -2%;
                width: 5.5rem;
            }
        }


    }

    // Homepage Widgets
    .widget_coenv_base_index_dates ul {
        margin-left: 1rem;
    }

    .widget_links {
        float: right;
        list-style: none;
    }

    .list-news-small {
        list-style: none;
    }

    .widget_content {
        ul {
            list-style: none;	
        }
    }    

    .hero-area {
        position: relative;
        display: block;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: -15%;
            width: 115%;
            height: 100%;
            z-index: -1;
            background: url('../assets/img/pcc_mapBG.svg');
            opacity: 0.25;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .cave-divider {
        background: url('../assets/img/ice_cave_juno_icefield.JPG');
    }

    .camp-divider {
        background: url('../assets/img/P8240141.JPG');
    }

    .divider {
        background-size: cover;
        background-position: center 57%;

        .row {
            position: relative;
            @media #{$small-only} {
                min-height: 10rem;
            }
            @media #{$medium-only} {
                min-height: 13rem;
            }
            @media #{$large-up} {
                min-height: 20rem;
            }
            &:after {
                content: url('../assets/img/pcc_section_div_flat.svg');
                position: absolute;
                width: 13rem;
                top: 96%;
                left: -0.25rem;
                z-index: 100;

                @media #{$medium-only} {
                    width: 10rem;
                    top: 96%;
                }
                @media #{$small-only} {
                    width: 8rem;
                    top: 93%;
                }

            }
        }

        @media #{$small-only} {
            min-height: 10rem;
        }
        @media #{$medium-only} {
            min-height: 13rem;
        }
        @media #{$large-up} {
            min-height: 20rem;
        }
    }

    .teaser-buttons {

        .home_button {
            text-transform: uppercase;
            color: $white;
            display: block;
            padding: 3rem;
            background: url('../assets/img/');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 1rem;
            font-size: rem-calc(28);
            @media #{$small-only} {
                font-size: rem-calc(18);
            }
            &:after {
                float: right;
                display: block;
                width: 8%;
                content: url('../assets/img/pcc_buttonArrow.svg');
            }
        }
    }

    .home-news-section {
        padding-top: 2rem;

        .first-thumbnail {
            max-height: rem-calc(350);
            margin-bottom: rem-calc(10);
            overflow: hidden;
        }
        .first-news, .small-news {
            display: block;
        }
        :not(:last-child) .small-news {
            margin-bottom: rem-calc(30);	
        }

    }

    .hosted-events {
        border-bottom: 1px solid $border;
        padding-top: 1.5rem;

         
        .widget-area {
            margin-top: 2rem;

            .solid-widget {
                position: relative;
                width: 100%;
                p {
                    margin-bottom: 0.25rem;
                }
                .widget_img {
                    height: 100%;
                    text-align: center;
                    img {
                        height: 100%;
                        max-height: 240px;
                    }
                }

                .widget_links {
                    float: none;
                    margin-left: 0;

                    .button {
                        background: none;
                        color: $uw-purple;
                        border: none;
                        text-transform: none;
                        padding: 0;
                        margin: 0;
                        &:hover {
                            color: $uw-purple;
                        }
                    }
                }
            }
        }
    }

    .slash {
        background: url('../assets/img/RainAngle-2685.svg');
    }

    .programs {
        padding-top: 1.5rem;
        border-bottom: 2px solid $border;
        margin-bottom: 1.5rem;

        .solid-widget {
            position: relative;
            width: 100%;
            padding-bottom: 75%;
            margin-bottom: 2.25rem;
            .widget_img {
                height: 100%;
                &:before {
                    background: rgba(0, 0, 0, 0.5);
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    transition: all .3s linear;
                }
                img {
                    height: 100%;
                }
            }
        }

        article {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        h4 {
            @include uni;
            position: absolute;
            color: $white;
            width: 100%;
            text-align: center;
            font-size: 2.75rem;
            top: 38%;

            &:after {
                content: "";
                position: relative;
                height: 1px;
                width: 50%;
                background-color: white;
                bottom: -1.25rem;
                display: block;
                margin: 0 auto;
            }

            &:before {
                content: "";
                position: relative;
                height: 8px;
                width: 25%;
                background-color: white;
                top: -1.25rem;
                display: block;
                margin: 0 auto;
                transform: skewX(-15deg);
            }

        }

        @media #{$medium-only} {
           h4 {
                font-size: 1.5rem;
            }
        }

        @media #{$small-only} {
           h4 {
                font-size: 2.25rem;
            } 
        }
    }

    .home-news-section, .climate-calendar {
        
        margin-top: 1rem;

        .events-title {
            &:before {
                display: inline-block;
                float: left;
                width: 2.25rem;
                content: url('../assets/img/Calendar_icon.svg');
                margin-right: 1rem;
            }
        }

        .events-title, .news-title {
            border-bottom: 1px solid $border;
            padding-bottom: 1.5rem;
            margin-bottom: 1rem;

        }

        .more-events, .more-news {
            float: right;
            @media #{$medium-up} {
                margin-top: 0.5rem;
            }
        }

        .small-news {
            border-bottom: 1px solid $border;
            .post-meta {

                @include encode_cb;
                time {
                    padding-right: 0.5rem;
                }

                a {
                    &:first-of-type {
                        padding-left: 0.5rem;
                    }
                }

            }
            p {
                color: $text-lt;
            }
        }

        .event-list {
            display: flex;
            margin-bottom: 0.5rem;
            
            @media #{$small-only} {
                flex-direction: column;
            }


            li{
                flex: 1;
                padding: 1rem;
                position: relative;
                justify-content: center;
                resize: vertical;
                @media #{$medium-only} {
                    padding: 0.5rem;
                    .title {
                        font-size: 1rem;
                    }
                }
                &:before {
                    position: absolute;
                    content: url('../assets/img/pcc_section_div_purple.svg');
                    width: 5rem;
                    top: 3px;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }
        }


    }

    #twitter {
        background-color: $bg-light;
        overflow: hidden;

        .at_title {
            @include encode;
            margin: 0rem 2rem;
        }

        .tweet {
            margin: 1rem 2rem;
        }

    }
    .read_tweets {
        width: 100%;
        text-align: center;
    }

}
