// Homepage Widgets

.home {
    .home-content-row {
        img {
            float: right;
            max-width: 300px;
            padding: 1rem 0 1rem 1rem;
        }
        ul {
            list-style: none;
            margin-left: 0;
        }
    }
    

    .home-news-section {
        .featured-thumbnail {
            max-height: rem-calc(350);
            margin-bottom: rem-calc(10);
            overflow: hidden;
        }
        :not(:last-child) .small-news {
                margin-bottom: rem-calc(30);	
        }

    }
}