// Homepage Widgets

.home {
    
        h2 {
        @include encode_black;
        font-size: rem-calc(27);
        @include line-height(32);
        background-repeat: no-repeat;
        background-position: bottom left;
        font-weight: bold;
        letter-spacing: .2rem;
        margin-bottom: 30px;
        padding-bottom: 30px;
        text-transform: uppercase;
        }

        h3 {
        @include encode_black;
        @include font-size(16);
        line-height: 1.4;
        background-repeat: no-repeat;
        background-position: bottom left;
        font-weight: bold;
        letter-spacing: .12rem;
        margin-bottom: 30px;
        padding-bottom: 30px;
        text-transform: uppercase;
        }
        a.button {
            background-color: $accent;
            border-radius: 6px;
            box-shadow: 0 2px #d9d9d9;
            color: $white;
            letter-spacing: .12rem;
        }
        ul.links {
            margin: 0;
            padding: 0;
            li { 
                display:inline;
                list-style: none;
                margin: 0;
                padding: 0 8px 0 0;
            }
        }

    .full-feature {
        background-position: center;
        background-repeat: repeat-x;
        background-size: cover;
        border-bottom: #999 1px solid;
        float: left;
        padding: 48px 20px 68px 20px;
        width: 100%;
        text-align: center;
        
        p,
        h3 {
            margin: 0;
        }


        div.homepage-feature {
            margin: 0 auto;
            padding: 47px 0;
        }

        .boundless-1 {
            background-color: #4B2E83;
            @include encode-thin;
            letter-spacing: 2;
            margin: 0 auto;
            padding: 3px 20px;
            width: 340px;
            transform: skewX(-20deg);  /* e.g. skewX(25deg) */

                @media #{$small-only} {
                width: 260px;

                }


                p {

                @include encode-thin;
                letter-spacing: 2;
                color: $white;
                text-transform: uppercase;
                font-size: rem-calc(27);
                letter-spacing: .1rem;
                transform: skewX(20deg);  /* e.g. skewX(25deg) */

                    @media #{$small-only} {

                        font-size: rem-calc(18);


                }

            }





        }
        h3 {
            color: #fff;
            font-size: rem-calc(53);
            width: 94%;
            letter-spacing: .2rem;
            line-height: 1.25;
            margin: 22px auto 23px auto;
            text-shadow: 1px 1px 100px #000;

            @media #{$small-only} {

                        font-size: rem-calc(30);
                        margin-bottom: 12px;
                    
                        text-shadow: 1px 1px 50px #000;


                }


        }
        .more {
            background-color: $accent;
            color: #fff;
            @include encode_black;
            text-transform: uppercase;
            font-size: rem-calc(15);
            letter-spacing: .15rem;
            padding: 12px 12px;
            border-radius: 2px;
            box-shadow: 0 2px #fff;

            @media #{$small-only} {
                font-size: rem-calc(12);
            }


        }
    }
    .full-news {
        background-color: $white;
        background-image: url('/wp-content/themes/coenv-cig/assets/img/home-section-top-tile.png');
        background-position: top center;
        background-repeat: repeat-x;
        border-top: solid 5px #b6a47c;
        float: left;
        padding: 26px 0;
        width: 100%;

        .home-news-header {
            float: left;
            width: 100%;
        }
        .featured-news {
            margin-right: 87px;
        }
        .more-news {
            margin-top: 9px;
        }
        
        
        h2 {
            background-image: url("/wp-content/themes/coenv-cig/assets/img/rule-purple.svg");
            color: $accent;
            margin-bottom: 40px;
            float: left;
        }
        h3 {
            background-image: url("/wp-content/themes/coenv-cig/assets/img/rule-purple.svg");
            color: $accent;
            font-size: rem-calc(16);
            margin-bottom: 20px;
            text-transform: none;
        }
        .large-4 .small-news {
        min-height: 320px;
        }
        .small-news {
            background-color: #fff;
            background-image: url("/wp-content/themes/coenv-cig/assets/img/rule-gray.svg");
            background-repeat: no-repeat;
            background-position: bottom left;
            float: left;
            margin-bottom: 25px;
            padding-bottom: 25px;
            padding-right: 20px;
                h3 {
                    background: none;
                    margin: 0;
                    padding: 0;
                a {
                    color: #737373;
                }

            }
        }
    
        
    }
    .small-w-featured div:nth-child(3n) {
        background-image: url("/wp-content/themes/coenv-cig/assets/img/rule-purple.svg");
    }
    .full-stats {
        background-color: #333;
        background-image: url('/wp-content/themes/coenv-cig/assets/img/bg-homepage-stats.png');
        background-position: top center;
        background-repeat: repeat-x;
        border-top: solid 6px #b6a47c;
        float: left;
        height: 439px;
        overflow: hidden;
        padding: 32px 0;
        width: 100%;

        h2 {
            background-image: url("/wp-content/themes/coenv-cig/assets/img/rule-white.svg");
            color: $white;
            margin-bottom: 23px;
        }
        a.button {

            background-color: #85754f;
            border-radius: 6px;
            box-shadow: 0 2px #fff;
            color: $white;
            letter-spacing: .12rem;
            padding: 15px;
        }
        .stats {
            @include encode_black;
            letter-spacing: .13rem;
            margin-bottom: 49px;
            div {
                text-align: center;
            } 
            .stat-value {
                color: #b6a47c;
                font-size: rem-calc(100);
                line-height: 1.25;
            }
            .stat-label {
                color: $white;
                font-size: rem-calc(23);
                text-transform: uppercase;
            }
        }

    }
    .full-learn-more {
        background-color: $white;
        background-image: url('/wp-content/themes/coenv-cig/assets/img/bg-homepage-learn-more.png');
        background-position: top center;
        background-repeat: repeat-x;
        border-top: solid 6px #b6a47c;
        float: left;
        overflow: hidden;
        padding: 38px 0;
        width: 100%;

        h2 {
            background-image: url("/wp-content/themes/coenv-cig/assets/img/rule-purple.svg");
            color: $accent;
        }
        p {
            font-size: rem-calc(22);
        }



    }
    
    .widget_coenv_base_index_dates ul {
        margin-left: 1rem;
    }

    .widget_links {
        float: right;
    }

    .list-news-small {
        list-style: none;
    }

    .widget_content {
        ul {
            list-style: none;	
        }
    }
    
    .widgettitle {
        display: none;
    }
    
    .news-row {
        background-color: $white;
        border-top: solid 6px #b6a47c;
    }

    .home-news-section {
        margin: 0 auto;


        



        div:nth-child(2) {
            //padding-left: 30px;

        }

        .featured-thumbnail {
            max-height: rem-calc(350);
            margin-bottom: rem-calc(17);
            overflow: hidden;
        }
        :not(:last-child) .small-news {
                margin-bottom: rem-calc(30);	
        }
        .columns {
            padding-left: 0;
            padding-right: 0;
        }

    }
    .home-news-section .columns.small-news {
        padding-left: 80px;
    }
    .post-meta {
        @include encode_black;
        font-size: rem-calc(12);
        line-height: 1;
        margin-bottom: 12px;
        text-transform: uppercase;
    }
    
}
