@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .home {
        //svg afters in homepage dividers
        .divider {
            .row {
                &:after {
                    width: 8rem;
                }
            }
        }

        //svg after for feature img
        .feature {
            .feature-image {
                &:after {
                    left: -0.275rem;
                }
            }
        }
    }
    .course_archive {
        &:after {
            top: 79%;
        }
    }
}

.no-webgl {
    .home {
       .home_button {
            &:before {
                margin-top: -4rem;
                @media #{$small-only} {
                    margin-top: -4.5rem;
                }
            }
        }
    }

    .coenv_base_subnav ul {
        li {
            a.active {
                &:before {
                    top: -175%;
                }
            }
        }
    }

    .page-template-courses {
        .courses {
            li {
                &:before {
                    top: -1%;
                    @media #{$small-only} {
                        top: -50%;
                    }
                }
            }
        }
    }
    .container {
        .button {
            &:after {
                top: -175%;
            }
        }
    }

}
