@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .home {
        //svg afters in homepage dividers
        .divider {
            .row {
                &:after {
                    width: 8rem;
                }
            }
        }
    }
    .course_archive {
        &:after {
            top: 79%;
        }
    }
}

.no-webgl {
    .home {
       .home_button {
            &:before {
                margin-top: -4rem;
                @media #{$small-only} {
                    margin-top: -4.5rem;
                }
            }
        }
    }

    .page-template-courses {
        .courses {
            li {
                &:before {
                    top: -37%;
                    left: 0px;
                    @media #{$small-only} {
                        top: -38%;
                    }
                }
            }
        }
    }
    .container {
        .button {
            &:after {
                top: -175%;
            }
        }
    }

    .read_tweets {
        &:after {
            top: 30% !important;
        }
    }

}
