div[role="main"] .blog-list-item,
div[role="main"] .dataset-list-item  {
    display: block;
    float: left;
    margin-bottom: rem-calc(0);
    width: 100%;

    body.page-template-publications & {
        margin-bottom: rem-calc(20);
    }

    h2 {
        background-image: none;
        font-size: rem-calc(22);
        margin-bottom: rem-calc(10) !important;
        padding-bottom:0;

        a {
            color: #000;
            text-decoration: none;
        }
    }
    p { 
        font-size: rem-calc(16);
    }
    .post {
        float: left;
    }
}



.entry-content .inline-list {
	margin: 0;
}
