.top-bar-container {
    border-bottom: #d7dee5 1px solid;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3)
}

.top-bar {
    background-color: $white;
    text-align: left;
    min-height: rem-calc(60);
    padding-top: rem-calc(8);
    
    .top-bar-section {
        display: inline-block;
        width: 100%;
        margin-left: rem-calc(5);
        
        #menu-main-menu { 
            .social {
                float: right;
                .page_item {
                    background: transparent;
                    a {
                        padding: 0 .5rem!important;
                    }
                    &:first-of-type {
                        margin-top: .9rem;
                        @include uni_regular;
                        text-transform: lowercase;
                        font-style: italic;
                        font-weight: 400;
                        margin-right: .6rem;
                        font-size: rem-calc(13);
                    }
                    
                    &:last-of-type {
                        margin-right: 1rem;
                    }
                }
            }
            .social-menu {
                i {
                    font-size: rem-calc(24);
                    color: $accent-blue;
                }
                &.facebook {
                    margin-top: 4px;
                    margin-left: -5px;
                }
                svg {
                    fill: $accent-blue;
                }
            }
            & > li > .dropdown {
                margin-left: 1rem;
            }   
            
            & > li > a:hover {
                &:after {
                        border: none;
                        content: "";
                        position: relative;
                        height: 2px;
                        width: 100%;
                        background-color: $accent-blue;
                        top: -.7rem;
                        display: block;
                        color: $accent-blue;
                    }
            }
            
            li a {
                @media #{$large-up} {
                    font-size: 16px!important;
                    padding: 0 1rem 0 1rem!important;
                }
                @media #{$medium-only} {
                    background-image: none!important;
                    padding: 0 .9rem 0 .5rem!important;
                }
                @media #{$medium-up} {
                    font-size: 1.7vw;
                }
                color: $text;
                @include uni_regular;
                font-weight: 400;
                text-transform: uppercase;
                background-color: #ffffff;
                text-align: left;
                line-height: 3.2rem;

                &:hover, &:focus {
                    color: $accent-blue;
                }
                
            }
            li.current_page_parent {
                & > a {
                    color: $text;
                    &:hover {
                        color: $accent-blue;
                    }
                }
                & .current_page_item > a {
                    background-color: $bg-light;
                    border-top: 1px solid #dddddd;
                    border-bottom: 1px solid #dddddd;
                }
            }
        
            .dropdown {
                @include shadow;
    
                a {
                    padding: 0 .9rem 0 .9rem!important;
                    font-size: rem-calc(14);
                    text-transform: none;
                    background-color: #f6f5f7;
                    border-bottom: 1px solid #fff;
                    &:hover{
                        background-color: $bg-lighter;
                        
                    }
                }
                
                &:hover {
                    margin-top: -1px;
                }
            }
            
            .active .dropdown {
                &:hover {
                    margin-top: 0;
                }
            }

            & > .page_item_has_children {
                &:after {
                    display: block;
                    position: absolute;
                    top: 13px;
                    right: 3px;
                    bottom: 8px;
                    font-size: 10px;
                    content: "\2228";
                    @media #{$large-up} {
                        top: 11px;
                        right: 3px;
                        bottom: 8px;
                        font-size: 12px;
                    }
                }
                
                &:hover:after {
                    color: $accent-blue;
                }

                &.current_page_item > a, & > a:hover, &.current_page_parent > a,{
                    &:after {
                        border: none;
                        content: "";
                        position: relative;
                        height: 2px;
                        width: 125%;
                        background-color: $accent-blue;
                        top: -.5rem;
                        display: block;
                        color: $accent-blue;
                    }
                }
                &.page-item-3017 {
                    a:hover, &.current_page_item > a, &.current_page_parent > a {
                        &:after {
                            width: 110%;
                        }
                    }
                }

                
            }

            & > .current_page_item > a{
                    &:after {
                        border: none;
                        content: "";
                        position: relative;
                        height: 2px;
                        width: 100%;
                        background-color: $accent-blue;
                        top: -.7rem;
                        display: block;
                    }
                }
    
            .has-dropdown > a {
                .has-dropdown > a {
                    padding-right: rem-calc(15)!important;
                    @media #{$medium-only} {
                        padding-right: rem-calc(15)!important;
                    }
                }
                &:after {
                    content: none;
                }
            }
        }
    }
}
