.member-template {
	form {
        .field-wrap {
            display: block;
            input[type="text"] {
                @include rem('height', 2.64286);
                margin-bottom: 0rem;
                font-size: 1rem;
            }   
            button[type="submit"] {
                @include rem('height', 2.64286);
                margin-bottom: 0rem;
            }   
        }   
    }
}
li.type-member {
    list-style-type: none;
    @include rem('font-size', 1);
    @media #{$large-up} {
        @include rem('font-size', 1.1);
    }
    margin-top: 1rem;
    .member {
        display: flex;
        @media #{$small-only} {
            flex-direction: column;
        }
        .member-info {
            flex: 0 0 auto;
            @media #{$small-up} {
                width: 100%;
            }
            @media #{$medium-up} {
                width: 50%;
            }
            @media #{$large-up} {
                width: 67%;
            }
            @include uni_reg;
            display: flex;
            flex-direction: column;
            p {
                margin: 0;
                padding: rem-calc(10px);
            }
            .member-card, .member-contact {
                flex: 1;
                align-items: center;
                justify-content: center;
                @media #{$medium-up} {
                    padding-left: 1rem;
                }
            }
            .member-titles, .member-department {
                text-transform: uppercase;
                line-height: 1.25rem;
            }
            .member-titles {
                list-style-type: none;
                margin: 0;
                li {
                    line-height: 1.25rem;
                }
            }
            .member-contact {
                background-color: $text-very-lt;
                a {
                    display: block;
                    color: $text;
                    &:hover {
                        color: $uw-purple;
                        text-decoration: none;
                        i {
                            color: $uw-purple;
                        }
                    }
                    i {
                        font-size: 1rem;
                        margin-right: 5px;
                    }
                }
            }
        }
        .member-photo {
            flex: 1;
            @media #{$small-only} {
                width: 75%;
                margin-bottom: 1rem;
            }
            @media #{$medium-up} {
                width: 50%;
            }
            @media #{$large-up} {
                width: 33%;
            }
            img {
                display: block;
                width: 100%;
            }
        }
	}

    .member-line {
         padding: .5rem 0rem;
         overflow: hidden;
        .member-name {
            @include uni_reg;
            @include rem('font-size', 1.75);
            line-height: 1;
            margin-bottom: 0rem;
            padding: 0;
        }
    }

    .article__categories {
       margin-top: 1rem;
        margin-bottom: 0rem;
        @media #{$large-up} {
            margin-top: 0;
            padding-bottom: rem-calc(10px);
            padding-left: 1rem !important;
        } 
        h4 {
            margin-bottom: 1rem;
        }
        ul.mem-terms {
            li {
                margin-left: 0rem;
                margin-bottom: 0rem;
                margin-right: .5rem;
                a.button {
                    margin-bottom: .5rem;
                }
            }
        }
    }

    .staff-desc {
        margin-top: 1rem;
        margin-bottom: 0rem;
        @media #{$large-up} {
            margin-top: 0;
            padding-bottom: rem-calc(10px);
            padding-left: 1rem !important;
        }
    }
} // end li.type-member

.member-list-teach h2:first-child {
	margin-top: 0;
}

.member-list-research .member-list {
	display:table;
	width: 100%;
}

.member-list-research .member-list .member-list-item {
	display:table-row;

	.member-name h3 {
		font-weight: normal;
		font-size: 1rem;
		@include sans;
	}

	&.even {
		background-color: #ddd;
	}
}
.member-list-research .member-list .member-list-item div,
.member-list-adjunct .member-list .member-list-item div,
.member-list-emeritus .member-list .member-list-item div {
	display:table-cell;
    width:25%;
}
.member-list-emeritus {
	margin-bottom: rem-calc(153px);
}
.page-id-80 h2 {
	@include font-size(24);	
}

#sidebar .widget {
	line-height: 1.6;
	margin-bottom: 1rem;
}
.article__categories {
	margin-bottom: 1rem;
}
.article__categories h2 {
	@include rem('font-size', 1);
	line-height: 1;
	@include sans;
	padding: 0;
	margin: 0 0 .5rem 0;
}

ul.fac-cats,
ul.fac-terms {

	padding: 0;
	margin-left:0;

	li {
		display: inline;
		margin: 0 .5rem .5rem 0;
		padding: 0;

	}
}

.member-website a.button {
	@include rem('font-size', 1);
	margin: 1rem 0 0 0;
	width: 100%;
}
#coenv_base_fac_cats-2 ul li {
	margin-right: .5rem;
}



