
/*	Module: Terms
		
		======================================================================== */
 .post-meta {
        @include encode_black;
        font-size: rem-calc(12);
        line-height: 1;
        margin-bottom: 12px;
        text-transform: uppercase;
    }


.terms {
	border-right: solid 2px #000;
    color: #595959;
    float: left;
	font-size: rem-calc(12);
	margin-right: 5px;
	padding-right: 6px;
	position: relative;

    a {
        color: #595959;
    }

	li {
            display: inline;
        }

}
