
/*	Module: Terms
		
		======================================================================== */

 .post-meta {
    @include o_sans_bold;
    float: left;
    font-size: rem-calc(14);
    line-height: 2rem;
    margin-bottom: 12px;
    text-transform: uppercase;
    width: 100%;

    .left {
        padding-top: rem-calc(10);
    }
    time {
        float: left;
    }
     a {
     }
    .terms {
        border-left: solid 2px #000;
        color: #595959;
        float: left;
        font-size: rem-calc(14);
        margin-left: 5px;
        padding-left: 6px;
        position: relative;

        a {
            text-decoration: underline;
        }

        li {
            display: inline;
        }

        body.page-template-datasets &,
        body.single-datasets & {
            border-left: 0;
            padding-left: 0;
        }






    }

    body.single & {
            padding-top: rem-calc(8);
            width: 50%;
        }
   
}

.post-content {
    float: left;
}
div[role="main"] .filters h3 {
    font-size: rem-calc(16);
    text-transform: uppercase;
}




