
/*	Module: Terms
		
		======================================================================== */
 
.blog-list-item {
    display: block;
    float: left;
    margin-bottom: rem-calc(0);
    width: 100%;

    body.page-template-publications & {
        margin-bottom: rem-calc(20);
    }

    h2 {
        background-image: none;
        font-size: rem-calc(24);
        margin-bottom: rem-calc(16) !important;
        padding-bottom:0;
    }
    p { 
        font-size: rem-calc(16);
    }
    .post {
        float: left;
    }
}

 .post-meta {
    @include o_sans_bold;
    float: left;
    font-size: rem-calc(14);
    line-height: 1;
    margin-bottom: 12px;
    text-transform: uppercase;
    width: 100%;

    .left {
        padding-top: rem-calc(10);
    }
    time {
        float: left;
    }
    .terms {
        border-left: solid 2px #000;
        color: #595959;
        float: left;
        font-size: rem-calc(14);
        margin-left: 5px;
        padding-left: 6px;
        position: relative;

        a {
            text-decoration: underline;
        }

        li {
            display: inline;
        }

        body.page-template-datasets &,
        body.single-datasets & {
            border-left: 0;
            padding-left: 0;
        }






    }

    body.single & {
            padding-top: rem-calc(8);
            width: 50%;
        }
   
}

.post-content {
    float: left;
}
div[role="main"] .filters h3 {
    font-size: rem-calc(16);
    text-transform: uppercase;
}




