.mobile-menu {
    svg {
        height: 32px;
        width: 32px;
    }
    .item-65 { // hide homepage expander
        .small-3 {
            display: none;
        }
        .small-9 {
            @include grid-column(12);
        }
    }
    .off-canvas-list {
        border-bottom: solid 2px $text;
        a {
            color: $white;
        }
        .content {
            padding: 0;
            background: #333333 !important;
        }
        .children-0 {
            padding-top: rem-calc(45);
        }
        .children-1 {
            a {
                padding-left: rem-calc(14);
                font-size: rem-calc(12);
                font-weight: 800;
                text-transform: uppercase;
            }
            li {
                background: #0f0e0e !important;
            }
        }
    }
    .primary-link {
        height: rem-calc(45);
        padding-top: rem-calc(10);
        padding-left: rem-calc(10)!important;
        background: $border-dk-accent;
        text-transform: uppercase;
        font-weight: 800;
        @include encode_cb;
        &:hover {
            background: #242424;
        }
    }
    .expander-link {
        height: rem-calc(45);
        padding: rem-calc(10)!important;
        text-align: center;
        width: 26%;
        margin-left: rem-calc(-10);
        background: $border-dk-accent!important;
        &:hover {
            background: #242424!important;
        }
        svg {
          margin-top: rem-calc(-5);
          width: rem-calc(24);
          fill: $white;
        }
    }
    .accordion {
        .accordion-navigation { 
            &.active > a {
                svg {
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    transform: rotate(90deg);
                }
            }
        }
    }
}