.entry-content {
    border-top: $accent-teal 7px solid;
    padding-top: rem-calc(15);
    @media #{$medium-up} {
        margin-left: rem-calc(50);
    }
    
    a {
        color: $accent-teal;
    }
}