.member-projects {

    .projects-list {
        list-style-type: none;
        li {
            
        }
    }

    form {
        .field-wrap {
            display: block;
            input[type="text"] {
                @include rem('height', 2.64286);
                margin-bottom: 0rem;
                font-size: 1rem;
            }
            button[type="submit"] {
                @include rem('height', 2.64286);
                margin-bottom: 0rem;
            }
        }
    }

}
