.member-projects {

    .projects-list {
        list-style-type: none;
        margin-left: 0px;
        .type-project {
            margin: 1rem 0rem;
            border-bottom: 1px solid #ccc;
            .slideout {
                width: 0px;
                height: 0px;
                overflow: hidden;
            }
            .proj-expand {
                text-align: center;
                vertical-align: bottom;
                cursor: pointer;
                margin-top: 0.75rem;
                &.active {
                    i {
                        &:before {
                            content: "\f176";
                        }
                    }
                }
            }
            .project-title {
                border-bottom: 0;
				@include font-size(24);
                @include line-height(26);
                @media #{$medium-up} {
                    @include font-size(28);
                    @include line-height(32);
                }
            }
            .year {
				@include encode_med;
				text-transform: none;
				letter-spacing: 0.5px;
				font-size: rem-calc(15);
            }
            .pi-list {
                list-style-type: none;
				margin-bottom: 0;
                margin-left: 0px;
                display: inline;
                li {
                    display: inline;
					margin-bottom: 0;
                    &:not(:first-child) {
                        &:before {
							display: inline;
                            content: "|";
                            margin: 0rem 0.2rem;
                        }
                    }
                }
            }
            .proj-meta {
                margin-bottom: 0.5rem;
				line-height: 1rem;
            }
        }
        .proj-terms {
			@include encode_med;
			text-transform: none;
			letter-spacing: 0.5px;
			font-size: rem-calc(15);
            display: inline-block;
            list-style-type: none;
            margin-left: 0rem;
            margin-bottom: 0;
            li {
				display: inline;
            }
        }
    }

   form {
        .field-wrap {
            display: block;
            input[type="text"] {
                @include rem('height', 2.64286);
                margin-bottom: 0rem;
                font-size: 1rem;
            }
            button[type="submit"] {
                @include rem('height', 2.64286);
                margin-bottom: 0rem;
            }
        }
    } 

}
