// General sidebar
aside#sidebar {
	margin-top: rem-calc(35);
	padding-right: 1rem !important;

	.section-title {
        padding: rem-calc(7) rem-calc(15);
        overflow: hidden;
        position: relative;
        
        h2 {
            font-size: rem-calc(10);
            margin: 0;
            max-width: 66%;
        }
        
		a {
            @include uni();
            text-transform: uppercase;
            font-size: rem-calc(12);
            color: $text;
		}
        
        &:after, &:before {
            content: "";
            position: absolute;
            right: rem-calc(-10);
            top: 0;
            width: 30%;
            height: 100%;
            background-color: rgba(0,0,0,0.65);
            @extend .uw-skew;
        }
        
        &:before {
            width: 33%;
        }
	}

	// Second-level navigation
	.coenv_base_subnav {
        @extend .shadow;
        ul {
            margin: 0  1rem rem-calc(30) 0;
            padding: 0;
            line-height: 10px;
            width: 100%;
            li {
                background-color: $bg-lighter;
                margin: rem-calc(2);
                a {
                    @include uni();
                    font-size: rem-calc(18);
                    font-weight: 600;
                    letter-spacing: 1px;
                    display: block;
                    line-height: 152%;
                    color: $text;
                    
                    &:hover {
                        color: $text-md;
                    }
                }
                ul {
                    margin-bottom: 0;
                    li {
                        border: 0;

                        a {
                        padding-left: 2rem !important;
                        }
                    }
                    &.side-nav {
                        padding-top: 0;
                        background-image: none;
                    }
                }
            }
        }
	}
	.widget {
		margin-bottom: rem-calc(30);
	}






}

