.widget_coenv_base_subnav div {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.side-nav {
    margin: 0 0 2rem 0;
    padding: 0;
    line-height: 10px;
    
    .depth-1 > a {
        @include encode_cb;
        font-weight: 800!important;
    }

    li {
        background-color: $bg-light;
        border-bottom: 1px solid $white;
        margin: 0;
        font-size: rem-calc(16);
        
        &:hover {
            background-color: $text-md!important;
            a {
                color: $white!important;
            }
        }
        
        &.has-children {
            background-image: url(../assets/img/grey-arrow.svg);
            background-repeat: no-repeat;
            background-position: right top 12px;
            background-size: rem-calc(30);
            
            &.post-2966, &.post-2966 > a.active { // not news page
                background-image: none;
            }
            
            &.post-29, &.post-29 > a.active { // not contact page
                background-image: none;
            }
            
            > a.active {
                background-image: url(../assets/img/white-arrow.svg);
                background-repeat: no-repeat;
                background-position: right;
                background-size: rem-calc(30);
            }
        }
            
        
        > a.active {
            background-color: $bk-menu;
            color: $white!important;
            &:hover {
                background-color: darken($bk-menu, 25%);
                color: $white;
            }
        }
        
        a {
            display: block;
            line-height: 125%;
            color: $text!important;
            padding: rem-calc(10) rem-calc(15)!important;

        }

        ul {
            margin-bottom: 0;


            li { // sub sub pages
                border-bottom: 1px solid $border-med;
                background-image: none;
                background-color: $bk-menu;
                &:first-of-type{
                    a {
                        border-top: 1px solid $border-med;
                    }
                }
                
                &:last-of-type{
                    border-bottom: none;
                }
                a {
                    color: $white!important;
                    line-height: 85%;
                    font-weight: 400!important;
                    padding-left: rem-calc(28)!important;
                    @include encode_cb;
                    text-transform: none!important;
                    
                    &.active {
                        background-color: darken($bk-menu, 15%);
                        background-image: none;
                    }
                }
            }
        }
    }
}
#sidebar {
	.inline-list {
		margin-left: 0;
	}
	.inline-list>li {
		margin: 0;
		margin-right: rem-calc(5);
	}
    .columns {
        padding-left: 0;
    }
}
