// General sidebar
aside#sidebar {
	margin-top: rem-calc(35);
	padding-right: 1rem !important;

	.section-title {
        padding: rem-calc(7) rem-calc(15);
        overflow: hidden;
        position: relative;
        
        h2 {
            font-size: rem-calc(10);
            padding: 0 rem-calc(10);
            margin: 0;
            max-width: 66%;
        }
        
		a {
            @include uni();
            text-transform: uppercase;
            font-size: rem-calc(13);
            color: black;
		}
        
        &:before {
            content: "";
            position: absolute;
            right: rem-calc(-10);
            top: 0;
            width: 30%;
            height: 100%;
            background-color: black;
            border-left: 8px solid rgba(255,255,255,0.35);
            @extend .uw-skew;
        }
        
        &:before {
            width: 33%;
        }
	}

	// Second-level navigation
	.coenv_base_subnav {
        @extend .shadow;
        
        & > ul > li {
            
            &.active { 
                & > a:first-of-type {
                    color: $text;
                
                }

                & > a:before {
                    content: '»';
                    margin-left: rem-calc(-12);
                    padding-right: rem-calc(3);
                }
            
                & > ul > li.active {
                    & > a {
                        color: $text;

                        &:before {
                            content: '»';
                            margin-left: rem-calc(-12);
                            padding-right: rem-calc(3);
                        }
                    }
                    
                    & > ul > li.active {
                        & > a {
                            color: $text;

                            &:before {
                                content: '»';
                                margin-left: rem-calc(-12);
                                padding-right: rem-calc(3);
                            }
                        }
                        & > ul > li.active {
                            & > a {
                                color: $text;

                                &:before {
                                    content: '»';
                                    margin-left: rem-calc(-12);
                                    padding-right: rem-calc(3);
                                }
                            }
                        }
                    }
                }

            }
            
        }
        
        ul {
            margin: 0  0 rem-calc(30) 0;
            padding: 0;
            line-height: 10px;
            
            li {
                background-color: $bg-lighter;
                margin: rem-calc(2);
                
                a {
                    @include uni();
                    font-size: rem-calc(18);
                    font-weight: 600;
                    letter-spacing: 1px;
                    display: block;
                    line-height: 130%;
                    color: $text-md;
                    
                    &:hover {
                        color: $text-lt;
                    }
                    
                    &:not(.button) {
                        padding: .5rem 1.5rem;
                        color: $text-md;
                    }
                }
                ul {
                    margin-bottom: 0;
                    margin-left: .5rem;
                    li {
                        border: 0;

                        a {
                            font-size: rem-calc(16)!important;
                            padding-left: 2rem !important;
                        }
                    }
                    &.side-nav {
                        padding-top: 0;
                        background-image: none;
                    }
                }
            }
        }
	}
	.widget {
		margin-bottom: rem-calc(30);
	}
}

