/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

// Add some whitespace between top bar and content
.top-bar-container, .tab-bar {
	margin-bottom: 0;
}

// Fix the issue where the WP adminbar overlaps the mobile menu
#wpadminbar {
	position: fixed !important;
}

/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */

// Insert styles here


/**
 * 3.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

// Insert styles here


/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */


	/**
	 * 4.1 Pages
	 * ------------------------------------
	 */

	 // Hero

	#homepage-hero {
		background: url("http://foundation.zurb.com/assets/img/marquee-stars.svg") repeat scroll 0 0 #074E68;
		padding: rem-calc(20) 0;
		margin: - rem-calc(32) 0 rem-calc(32);
		position: relative;
		text-align: left;
		height: auto;

			h1 a, h4 { color: #fff; }

			.floatingyeti img {
				max-width: 30%;
				position: absolute;
				right: rem-calc(100);
			}

			.download { margin-top: rem-calc(20); }
		}


	/**
	 * 4.2 Posts
	 * ------------------------------------
	 */


	/**
	 * 4.3 Widgets
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.4 Comments
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.5 Lists
	 * ------------------------------------
	 */

	// Insert styles here


	/**
	 * 4.6 Forms
	 * ------------------------------------
	 */

	// Insert styles here


/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */

// Insert styles here


.back-to-top {
    position: fixed;
    bottom: 4em;
    right: 30%;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
    z-index: 100;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
}
div[role="main"] {
	h1 {
		@include serif;
		@include font-size(24);
		@include line-height(30);
		font-weight: 400;

		@media #{$medium-up} {
			@include font-size(36);
			@include line-height(48);
		}

	} // h1

	h2 {

		@include encode_black;
		@include font-size(18);
		@include line-height(24);
		background-image: url("/wp-content/themes/coenv-cig/assets/img/purple-rule.png");
		background-repeat: no-repeat;
		background-position: bottom left;
		color: $accent;
		font-weight: bold;
		text-transform: uppercase;

		@media #{$small-up} {
			
		@include font-size(27);
		@include line-height(32);
		letter-spacing: rem-calc(2);
		margin-bottom: rem-calc(24);
		padding-bottom: rem-calc(24);
		font-weight: bold;
		}

	} // h2

	h3 {
		@include encode_black;
		@include font-size(16);
		@include line-height(20);
		color: $accent;
		font-weight: bold;
		text-transform: uppercase;

		@media #{$small-up} {
			
		@include font-size(22);
		@include line-height(28);
		letter-spacing: rem-calc(2);
		margin-bottom: rem-calc(24);
		font-weight: bold;
		}

	} // h3

	h4,h5 {
		@include encode_black;
		@include font-size(14);
		@include line-height(20);
		color: $accent;
		font-weight: 400;
		text-transform: uppercase;

		@media #{$small-up} {
			
		@include font-size(18);
		@include line-height(22);
		letter-spacing: rem-calc(2);
		margin-bottom: rem-calc(24);
		font-weight: bold;
		}
	}

}




