
/*	Template: menu_top
		Site-wide tippity-top menu
		======================================================================== */

.skipnav {
	text-align: left;
	a {
		position: absolute;
		left: -10000px;
		width: 1px;
		height: 1px;
		overflow: hidden; 
	}
	a:focus, .skipnav a:active {
		position: static;
		left: 0;
		width: auto;
		height: auto;
		overflow: visible; 
		text-decoration: underline; 
	}
}

#top-nav {
    @include rem('padding', 0.45, 0, 0.45);
    background-color: #363533;
    background-image: url('../assets/img/el-header-slant.svg');
    background-size: cover;
    background-position: -20px 0;
    background-repeat: no-repeat;
    font-size: 0;
    text-align: right;
    display: block;
    @include o_sans_bold;

    @media print {
        display: none !important;
    }

    ul,
    form {
        display: inline-block;
        @include rem('margin-left', 0.3);
        padding: 0;
        font-size: 0;
        vertical-align: top;
    }

    ul {
        list-style: none;
        @include rem('margin', 0, 0, 0, 0.3); 
        padding-right: rem-calc(10);
        }
        #menu-university, .el-logo {
        @include rem('margin', 0.2, 0, 0, 0.3); 
        }

        li,
        input,
        button {
            display: inline-block;
            padding: 0;
            margin: 0;
            @include font-size(10);
            @include rem('line-height', 2.3);
            @include rem('height', 2.3);
            vertical-align: top;
        }

        input[type="text"] {
            @include font-size(12);
            background: #666;
            color: #fff;
            font-family: 'open-sans';
            @include placeholder {
                color: #eee;
            }
    } // input[type="text"]

	button[type="submit"] {
    background: #666;

    i {
        @include font-size(16);
        color: #eee;
    }

    &:hover i {
        color: #fff;
    }

	} // button[type="submit"]

	a,
	input,
	button {
		@include rem('padding', 0, 0.5);
      @include o_sans_bold;
      font-family: 'open-sans-bold';
	}

	a {
		display: block;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		text-decoration: none;
		color: #ddd;
		border-radius: $radius;

		&:hover {
			background: #666;
			color: #fff !important;
		}

	} // a

	form {

	} // form

	#menu-university {
        float: left;
        margin-left: 0px;
        li {
            a {
                line-height: 2rem;
                color: $white;
            }
        }
        color: $white;
	} // #menu-university

    .el-logo {
        font-size: 1.25rem;
        display: inline-block;
        float: left;
        color: $white;
        span.light {
            color: #888888;
        }
    }

    .el-divider {
        float: left;
        width: 2rem;
        height: 100%;
        font-size: 1rem;
        margin: 0rem 1rem;
        &:before {
            display: block;
            content: "";
            color: $white;
            width: 2px;
            background-color: $white;
            height: 30px;
            @extend .uw-skew;
            margin: .1rem auto 0rem auto;
        }
    }

	#menu-buttons {
        li a {
            background: $accent-red;
            color: #fff;

            &:hover {
            	background: $accent-red-hover;
            }
            svg {
            margin-right: 2px;
            }
        }

		li.give a {
			background: $accent-red;
			color: #fff;

			i {
                position: relative;
                top: .1em;
                margin-right: 2.8px;
                margin-right: .2rem;
			}

		} // li.give a
        
        #heart {
            height: 8px;
            width: 8px;
            .path1 {
                fill: #fff;
            }
        }

		li.give a:hover {
			background: darken( $accent-red, 10% );
		}

	} // #menu-buttons

} // #top-nav
