/* 	==========================================================================
		Type
		========================================================================== */


@mixin sans() {
  font: {
    family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@mixin serif() {
  font: {
    family: Georgia, serif;
  }
}



/*
 * Other elements
 */

p, ul, ol {
	@include rem('margin', 0, 0, 1.5);
}












