/* 	==========================================================================
		Type
		========================================================================== */


@mixin sans() {
  font: {
    family: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

@mixin serif() {
  font: {
    family: Georgia, serif;
  }
}

h1 {
	@include rem('margin', 1.5, 0); // 24
	@include rem('line-height', 3); // 48
	@include rem('font-size', 3); // 48
	@include uni_reg();

}

h2 {
	@include rem('margin', 1.5, 0, 1.5); // 24
	@include rem('line-height', 2.5); // 48
	@include rem('font-size', 2.25); // 36
	@include uni_reg();
}

h3 {
	@include rem('margin', 0, 0); // 8
	@include rem('line-height', 2); // 32
	@include rem('font-size', 2); // 24
	@include uni_reg();
}

h4 {
	@include rem('margin', 0);
	@include rem('line-height', 1.8);
	@include rem('font-size', 1.5); // 18
	@include uni_reg();
}

h5 {
	@include rem('margin', 0);
	@include rem('line-height', 1.8);
	@include rem('font-size', 1.25);
	font-weight: 600;
}

h6 {
	@include rem('margin', 0);
	@include rem('line-height', 1.5);
	@include rem('font-size', 1);
}

/*
 * Other elements
 */

p, ul, ol {
	@include rem('margin', 0, 0, 1.5);
}






