// Events Widget

.widget-events {
    text-align: center;
    svg {
        width: 4rem;
        height: 4rem;
    }
    h4 {
        @extend .section-title;
        text-transform: none;
        font-size: rem-calc(24)!important;
        line-height: 2rem!important;
        padding-bottom: .5rem;
        a {
            color: $accent-blue!important;
            font-weight: 400!important;
        }
    }

    .event-list {
        list-style: none;
        margin: 0rem;

        li {
            .single-event {
                display: block;
                background-color: $bg-light;
                border-bottom: 2px solid $accent;
                color: $accent;
                padding: 1rem 2rem;
                height: 100%;
                margin-bottom: 1rem;
                a {
                    color: $accent;
                }
            }

            i {
                @extend .visuallyhidden;
            }

            .date {
                @include encode;
                margin-bottom: 0;
                font-size: .9rem;
                font-weight: 600;
            }
            .title {
                @include uni;
                font-size: 1.75rem!important;
                margin-bottom: 0;
                color: $text;
            }
        }
    }
    .button {
        margin-top: 1rem;
    }
}

// Social Widget

.widget-social {
    ul {
        list-style: none;	
    }
}


// Sidebar Widgets
aside#sidebar div {

	// Content blocks

    .widget_content {
        h4 {
            @include uni;
            font-weight: 600;
            padding: 1rem 0rem;
        }
        p {
            @include encode;
            margin-bottom: 0;
        }
        span.button a {
            color: $white;
        }
    }
    .widget_links {
        margin-bottom: 0;
        margin-left: 0;
        margin-top: rem-calc(15);
        li {
            display: inline;
            a {
                letter-spacing: rem-calc(1);
                margin: 0 0 rem-calc(6) 0;
                padding: rem-calc(10);
                text-align: left;
            }
            .button {
                text-transform: uppercase;
            }
        }
    }
	&:nth-child(even) {
		.widget_custom_post_widget {
			background-color: $white;
			.widget_content {
				h4 {
					color:  $uw-purple;
                    border-bottom: 1px solid $uw-purple;
                    a {
					    color:  $uw-purple;
				    }
                }
			}
            .button {
                margin-top: 0.5rem;
                margin-bottom: 0rem;
                background-color: $uw-purple;
                color: $white;
                text-align: left;
                a {
                    color: $white;
                    text-align: left;
                }
            }

            .widget_links {
                margin-top: 0rem;
            }
			
		}
	}
	&:nth-child(odd) {
		.widget_custom_post_widget {
			background-color: $uw-purple;
            border: 1px solid $black;
		}
		.widget_custom_post_widget .widget_content {
			padding: 0 rem-calc(20) rem-calc(5) rem-calc(20);
            color: $white;
            h4 {
                color: $white;
                border-bottom: 1px solid $white;
            }
            p {
                padding: 1rem 0rem;
            }
		}
		.widget_custom_post_widget .widget_links {
            padding: 0rem;
            a { 
                padding: 0rem;
                &:hover {
                    background-color: inherit;
                }
            }

		}
		
	}
}

// After Content Widgets
#after-content div.columns {


	.widget_links {

	}
	.widget_links li a {

	}
	
	.widget_custom_post_widget {
		border-top: 4px solid #333;
		margin-bottom: rem-calc(20);
		padding: rem-calc(20);
		.widget_img {
			float: left;
			margin-right: 5%;
			padding: 0;
			width: 30%;
		}	
		.widget_content {
			float: left;
			margin-bottom: 0;
			
			width: 65%;
			h4 {
				@include encode_cb;
				font-size: rem-calc(22);
				letter-spacing: .1rem;
			}
			p {
				margin-bottom: 0;
			}
		}
		.widget_links {
			float: right;
			margin-bottom: 0;
			margin-left: 0;
			margin-top: rem-calc(5);
			text-align: right;
			width: 65%;
			li {
				display: inline;
				width: 100%;
				a {
					
					width: auto;
					&:first-child {
        				margin-left: rem-calc(10);
					}
					letter-spacing: rem-calc(1);
					margin: 0 0 rem-calc(6) 0;
					padding: rem-calc(10);
					text-align: left;
				}
				.button {
					text-transform: uppercase;
				}
			}
		}
	}
	&:nth-child(odd) {
		.widget_custom_post_widget {
			background-color: #f2f2f2;
			.widget_content {
				h4 a {
					color:  #333;
				}
			}
			.widget_links {
				padding: 0 rem-calc(20) rem-calc(25) rem-calc(20);
				.button {
					background-color: #333;
					color: $white;
					text-align: left;
				}
			}
			
		}
	}
	&:nth-child(even) {
		.widget_custom_post_widget {
			background-color: #f2f2f2;
		}
		.widget_custom_post_widget .widget_content {

		}
		.widget_custom_post_widget .widget_links {
			padding-top: 0;
			padding-right: rem-calc(20);
			padding-bottom: rem-calc(25);
			padding-left: rem-calc(20);
			background-image: url("/wp-content/themes/coenv-cig/assets/img/side-nav-bottom-tile.png");
			background-repeat: no-repeat;
			background-position: bottom center;
		}
		
	}
}

#twitter {

    .at_title {
        font-size: 1rem;
        font-weight: 800;
        vertical-align: middle;

        .twitter-logo {
            font-size: 3em;
            margin-right: 0.5rem;
            vertical-align: middle;
        }

    }

    .tweet {

        margin: 0.75rem 0rem;

        &:first-of-type {
            margin-top: 0;
        }

        &:nth-of-type(2n+3) {
            clear: both;
        }
    }

    .tweet-wrapper {
        padding: 0.75rem;
        background-color: $white;
        border: 0.75px solid $border;
    }

    .tweet-head {
        padding-bottom: 1rem;
        overflow: hidden;
        font-size: 0.9rem;

        img {
            float:left;
            width: 2.75rem;
        }

        .names {
            float: left;
            text-align: left;
            padding-left: 0.5rem;
        }

        .username {
            a {
                color: black !important;
                font-weight: 800;
            }
        }

        .at_name {
            a {
                color: $text-lt !important;
            }
        }
    }

    .twitter-logo {
        color: #55acee;
    }

    .tweet-footer {
        overflow: hidden;
        padding-top: 0.75rem;

        a {
            color: $text-lt !important;
        }

        .timestamp {
            display: inline-block;
        }

        .twitter-logo {
            float: left;
            font-size: 1.25rem;
            margin-right: 0.25rem;

            i {
                vertical-align: text-top;
            }
        }

        .twitter-actions {
            float: right;
            text-align: right;

            a {
                margin-left: 1rem;
                color: $text-lt !important;
            }

        }

    }
}
