// Events Widget

.widget-events {
    text-align: center;
    svg {
        width: 4rem;
        height: 4rem;
    }
    h4 {
        @extend .section-title;
        text-transform: none;
        font-size: rem-calc(24)!important;
        line-height: 2rem!important;
        padding-bottom: .5rem;
        a {
            color: $accent-blue!important;
            font-weight: 400!important;
        }
    }

    .event-list {
        list-style: none;
        margin: 0 -1rem;

        li {
            @include grid-column(4);
            .single-event {
                display: block;
                background-color: $bg-light;
                border-top: 4px solid $accent;
                color: $accent;
                padding: 1rem 2rem;
                height: 100%;
                margin-bottom: 1rem;
                a {
                    color: $accent;
                }
            }

            .date {
                @include o_sans_bold;
                padding-bottom: 1rem;
                margin-bottom: .7rem;
                font-size: .9rem;
                margin-bottom: 0;
                i {
                    @extend .visuallyhidden;
                }
                &:after {
                    content: "";
                    position: relative;
                    height: 4px;
                    width: 40%;
                    background-color: $accent;
                    bottom: -.7rem;
                    display: block;
                    margin: 0 auto;
                }
            }
            .title {
                font-size: 1.1rem!important;
                margin-bottom: 0;
            }
        }
    }
    .button {
        margin-top: 1rem;
    }
}

// Social Widget

.widget-social {
    ul {
        list-style: none;	
    }
}


// Sidebar Widgets
aside#sidebar div.columns {

	
	// Content blocks
	.widget_custom_post_widget {
		.widget_content {
			padding: 0 rem-calc(20) rem-calc(5) rem-calc(20);
			h4 {
				@include encode_cb;
				font-size: rem-calc(22);
				letter-spacing: .1rem;
			}
			p {
				margin-bottom: 0;
			}
		}
		.widget_links {
			margin-bottom: 0;
			margin-left: 0;
			margin-top: rem-calc(15);
			li {
				display: inline;
				width: 100%;
				a {
					

					
					letter-spacing: rem-calc(1);
					margin: 0 0 rem-calc(6) 0;
					padding: rem-calc(10);
					text-align: left;
					width: 100%;
				}
				.button {
					text-transform: uppercase;
				}
			}
		}
	}
	&:nth-child(odd) {
		.widget_custom_post_widget {
			background-color: #f2f2f2;
			.widget_content {
				h4 a {
					color:  #333;
				}
			}
			.widget_links {
				padding: 0 rem-calc(20) rem-calc(25) rem-calc(20);
				.button {
					background-color: #333;
					color: $white;
					text-align: left;
				}
			}
			
		}
	}
	&:nth-child(even) {
		.widget_custom_post_widget {
			background-color: #f2f2f2;
		}
		.widget_custom_post_widget .widget_content {

		}
		.widget_custom_post_widget .widget_links {
			padding-top: 0;
			padding-right: rem-calc(20);
			padding-bottom: rem-calc(25);
			padding-left: rem-calc(20);
			background-image: url("/wp-content/themes/coenv-cig/assets/img/side-nav-bottom-tile.png");
			background-repeat: no-repeat;
			background-position: bottom center;
		}
		
	}
}

// After Content Widgets
#after-content div.columns {


	.widget_links {

	}
	.widget_links li a {

	}
	
	.widget_custom_post_widget {
		border-top: 4px solid #333;
		margin-bottom: rem-calc(20);
		padding: rem-calc(20);
		.widget_img {
			float: left;
			margin-right: 5%;
			padding: 0;
			width: 30%;
		}	
		.widget_content {
			float: left;
			margin-bottom: 0;
			
			width: 65%;
			h4 {
				@include encode_cb;
				font-size: rem-calc(22);
				letter-spacing: .1rem;
			}
			p {
				margin-bottom: 0;
			}
		}
		.widget_links {
			float: right;
			margin-bottom: 0;
			margin-left: 0;
			margin-top: rem-calc(5);
			text-align: right;
			width: 65%;
			li {
				display: inline;
				width: 100%;
				a {
					
					width: auto;
					&:first-child {
        				margin-left: rem-calc(10);
					}
					letter-spacing: rem-calc(1);
					margin: 0 0 rem-calc(6) 0;
					padding: rem-calc(10);
					text-align: left;
				}
				.button {
					text-transform: uppercase;
				}
			}
		}
	}
	&:nth-child(odd) {
		.widget_custom_post_widget {
			background-color: #f2f2f2;
			.widget_content {
				h4 a {
					color:  #333;
				}
			}
			.widget_links {
				padding: 0 rem-calc(20) rem-calc(25) rem-calc(20);
				.button {
					background-color: #333;
					color: $white;
					text-align: left;
				}
			}
			
		}
	}
	&:nth-child(even) {
		.widget_custom_post_widget {
			background-color: #f2f2f2;
		}
		.widget_custom_post_widget .widget_content {

		}
		.widget_custom_post_widget .widget_links {
			padding-top: 0;
			padding-right: rem-calc(20);
			padding-bottom: rem-calc(25);
			padding-left: rem-calc(20);
			background-image: url("/wp-content/themes/coenv-cig/assets/img/side-nav-bottom-tile.png");
			background-repeat: no-repeat;
			background-position: bottom center;
		}
		
	}
}


