// Events Widget

.event-list {
	list-style: none;
	
	.date {
		margin-bottom: 0;
	}
	
	.title {
		margin-bottom: rem-calc(10);
	}
}

// Social Widget

.widget-social {
    ul {
        list-style: none;	
    }
}