.news-nav {
	input {
		line-height: 26px;
		width: 80%;
	}
	button {
		vertical-align: top;
		height: 32px;
		width: 20%;
	}
}

.category {
	line-height: auto;
	margin-bottom: 0;
	@include rem(margin-top, 0);
}
